<%- include('header', {menu:'projects'}) %>
<div class="pt_content_wrapper">
    <div class="pt_container">
        <div class="pt_create_project pt_step_wrapper_list">
            <!-- step 1 start -->
            <div class="pt_step_wrapper step1 active" id="check_fields">
                <div class="pt_cp_header">
                    <h3>Start your new project below</h3>
                </div>
                <div class="pt_input_wrapper">
                    <label>Project Name</label>
                    <input type="text" class="pt_input" id="project_name" placeholder="Enter your project name">
                </div>
                <div class="pt_input_wrapper">
                    <label>Website URL <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Enter the website URL where you want to show the chat widget."></i></span></label>
                    <input type="text" class="pt_input" id="web_url" placeholder="Enter website URL(with http:// or https://)">
                </div>
                <div class="text-center">
                    <button class="pt_btn pt_btn_xl wid_btn" data-step="2">Continue</button>
                </div>
            </div>
            <!-- step 1 end -->

            <!-- step 2 start -->
            <div class="pt_step_wrapper step2">
                <div class="pt_cp_header">
                    <h3>Select widget template and position</h3>
                </div>

                <div class="pt_cp_widget_type">
                    <div class="pt_cpwt_item">
                        <input type="radio" id="widget_bubble" name="widget_type" value="bubble" checked="">
                        <label for="widget_bubble">
                            <span class="pt_widget_type bubble">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path fill="#ffffff" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg>
                            </span>
                            <p>Bubble</p>
                        </label>
                    </div>
                    <div class="pt_cpwt_item">
                        <input type="radio" id="widget_button" name="widget_type" value="button">
                        <label for="widget_button">
                            <span class="pt_widget_type button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path fill="#ffffff" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg> Chat with us</span>
                            <p>Button</p>
                        </label>
                    </div>
                </div>

                <p class="text-center">Position</p>
                <div class="pt_radio_list">
                    <div class="pt_radio">
                        <input type="radio" id="p_left" name="widget_position" value="left">
                        <label for="p_left">Left</label>
                    </div>
                    <div class="pt_radio">
                        <input type="radio" id="p_right" name="widget_position" value="right" checked="">
                        <label for="p_right">Right</label>
                    </div>
                </div>
                <br/><br/>

                <div class="text-center">
                    <button class="pt_btn pt_btn_dark pt_btn_xl wid_back_btn" data-step="1">Back</button>
                    <button class="pt_btn pt_btn_xl wid_cont_btn" data-step="3">Continue</button>
                </div>
            </div>
            <!-- step 2 end -->

            <!-- step 3 start -->
            <div class="pt_step_wrapper step3">
                <div class="pt_cp_header">
                    <h3>Install script</h3>
                </div>

                <div class="pt_script_box">
                    <div class="mb-20">Place this script before the closing &lt;/body&gt; tag on website you have added for this project, where you'd like your chat widget to appear.</div>
                    <div class="pt_input_wrapper pro_sc">
                        <textarea class="pt_input" rows="2" readonly=""></textarea>
                    </div>
                    <button class="pt_btn cpy_sc"><i class="far fa-copy"></i> Copy to clipboard</button>
                </div>

                <div class="text-center">
                    <button class="pt_btn pt_btn_dark pt_btn_xl wid_back1_btn" data-step="2">Back</button>
                    <a href="/projects/" class="pt_btn pt_btn_xl wid_finish_btn">Finish</a>
                </div>
            </div>
            <!-- step 3 end -->
        </div>
    </div>
</div>
<%- include footer %>