<%- include('header', {menu:'dashboard'}) %>
<div class="pt_content_wrapper">
    <div class="pt_container">
        <div class="pt_page_title">
            <div class="pt_input_wrapper" style="width: 100%; max-width: 200px;">
                <select class="pt_input select_project">
                    <option value="">All</option>
                    <% for(let i in projects){ %>
                    <option value="<%= projects[i].id %>"><%= projects[i].project_name %></option>
                    <% } %>
                </select>
            </div>
            <div class="pt_input_wrapper pt_input_icon pt_date_pick">
                <input type="text" class="pt_input pt_daterangepicker" value="">
                <span class="input_icon"><i class="far fa-calendar"></i></span>
            </div>
        </div>
        
        <div class="pt_dashboard_wrapper">
            <div class="pt_dashboard_box_list">
                <div class="pt_dashboard_box">
                    <div class="pt_dashboard_box_inner">
                        <h3 class="pt_active_customer"></h3>
                        <p><span>Online</span> Customers</p>
                    </div>
                </div>
                <div class="pt_dashboard_box">
                    <div class="pt_dashboard_box_inner">
                        <h3 class="pt_total_customer"></h3>
                        <p><span>Total</span> Customers</p>
                    </div>
                </div>
            </div>
            <div class="pt_dashboard_box">
                <div class="pt_dashboard_box_inner chart_dashboard">
                    <div class="pt_dash_box_title">Customers graph</div>
                    <canvas id="myChart" style="height: 200px !important;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/lib/chart.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                var title = "This Month"
                var date = $('.pt_daterangepicker').val();
                getChartData(title,date)
            },100);

            $(document).on('click','.opensleft > .ranges > ul > li',function(){
                var title = $(this).attr('data-range-key');
                var date = $('.pt_daterangepicker').val();
                setTimeout(function(){
                    getChartData(title,date)
                },100);
            });
            
            $(document).on('click','.applyBtn', function(e){
                e.preventDefault();
                var title = "Custom Range"
                var date = $('.pt_daterangepicker').val();
                setTimeout(function(){
                    getChartData(title,date)
                },100);
            });

            function getChartData(title,date){
                $.ajax({
                    url: "/dashboard/map-customer",
                    method: "POST",
                    data:{date:$('.pt_daterangepicker').val(),title:title},
                    success: function(data) {
                        var keys = [];
                        var values = [];
                        for(var k in data.countCustomer){
                            keys.push(k);
                            values.push(data.countCustomer[k])
                        }
                        
                        var graphData =  {
                            type: 'line',
                            data: {
                                labels: keys,
                                datasets: [{
                                    label: 'Customers',
                                    data:values,
                                    backgroundColor: [
                                        'rgba(255, 79, 90, 0.2)'
                                    ],
                                    borderColor: [
                                        '#ff4f5a'
                                    ],
                                    borderWidth: 2,
                                    radius : 4,
                                    hoverRadius : 6,
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            userCallback: function(label, index, labels) {
                                                if (Math.floor(label) === label) {
                                                    return label;
                                                }
                                            },
                                        }
                                    }]
                                },
                                legend : {
                                    display: false
                                },
                                tooltips : {
                                    backgroundColor : '#ff4f5a',
                                    cornerRadius : 3,
                                    xPadding : 20,
                                    yPadding : 10,
                                    titleFontFamily : "'Poppins', sans-serif",
                                    bodyFontFamily : "'Poppins', sans-serif",
                                }
                            }
                        }
                        $('#myChart').remove();
                        $('.chart_dashboard').append('<canvas id="myChart" style="height: 200px !important;"></canvas>');
                        canvas = document.querySelector('#myChart');
                        ctx = canvas.getContext('2d');
                        var myChart = new Chart(ctx, graphData, 1000);
                        myChart.update();
                    }
                });
                
            }
        });
        
    </script>
<% include footer %>