    </div>
    <div class="container">
        <center>
            Product of <a href="https://www.alphazene.com">Alphazene Solutions Pvt Ltd</a>
        </center>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/daterangepicker.min.js"></script>
    <script src="/js/lib/dataTables.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/pt_chatwidget.js"></script>
    <script src="/js/element.js"></script>
    <script src="/js/chatScript.js"></script>
</body>
</html>