<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content=""/>
        <meta name="keywords" content="">
        <meta name="author" content=""/>
        <meta name="MobileOptimized" content="320">
        <title>PixelTalk</title>
        <link rel="shortcut icon" type="image/ico" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    </head>
    <body>
        <div class="pt_alert_wrapper">
            <div class="pt_alert_inner">
                <i class="far fa-check"></i>
                <span class="pt_alert_text">This is the message.</span>
            </div>
            <div class="pt_alert_close"><i class="far fa-times"></i></div>
        </div>
        <div class="pt_main_wrapper">
            <div class="pt_auth_wrapper">
                <div class="pt_auth_inner">
                    <div class="pt_auth_img">
                        <img src="/images/auth.png" alt="">
                    </div>
                    <div class="pt_auth_body">
                        <div class="pt_logo">
                            <img src="/images/logo.svg" alt="PixelTalk">
                        </div>
                        <h3>Forgot Password</h3>
                        <p>Please enter your email.</p>
                        <div class="pt_auth_chatbox input">
                            <span class="pt_icon"><i class="fal fa-user"></i></span>
                            <input type="text" class="pt_input" id="pt_forgot_email" placeholder="Enter your email"/>
                        </div><br/>                   
                        <button type="button" class="pt_btn pt_btn_block pt_btn_dark" onclick="forgot()">Submit <i class="fal fa-paper-plane"></i></button>
                        <br/><br/>
                        <p style="margin: 0; text-align: center;"><a href="/"><i class="fal fa-arrow-left"></i> Back to login </a></p>

                    </div>
                </div>
            </div>
        </div>
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>