<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content=""/>
        <meta name="keywords" content="">
        <meta name="author" content=""/>
        <meta name="MobileOptimized" content="320">
        <title>Alphachat | Alphazene Solutions Pvt Ltd</title>
        <link rel="shortcut icon" type="image/ico" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/dataTables.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/daterangepicker.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/pt_chatwidget.css">
    </head>
    <body class="pt_loading">
        <div class="pt_preloader_wrapper">
            <div class="pt_preloader_inner">
                <div class="pt_preloader_bg">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867" style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve"><g><g><path d="M426.667,0.002H51.2C22.923,0.002,0,22.925,0,51.202v273.067c0,28.277,22.923,51.2,51.2,51.2h60.587l-9.284,83.456c-1.035,9.369,5.721,17.802,15.09,18.837c4.838,0.534,9.674-1.023,13.292-4.279l108.919-98.014h186.863c28.277,0,51.2-22.923,51.2-51.2V51.202C477.867,22.925,454.944,0.002,426.667,0.002z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </div>
                <div class="pt_preloader_dots"><span></span><span></span><span></span></div>
            </div>
        </div>
        <div class="pt_alert_wrapper">
            <div class="pt_alert_inner">
                <i class="far fa-check"></i>
                <span class="pt_alert_text">This is the message.</span>
            </div>
            <div class="pt_alert_close"><i class="far fa-times"></i></div>
        </div>
        <div id="confirm_popup" class="pt_popup_wrapper">
            <div class="pt_popup_inner">
                <div class="pt_popup_close delete_popup" data-dismiss="modal"><i class="far fa-times"></i></div>
                <div class="pt_popup_title pt_confirm_title"></div>
                <div class="pt_popup_body">
                    <p class="pt_confirm_text"></p>
                    <button class="pt_btn pt_confirm_button"></button>
                </div>
            </div>
        </div>
        
        <div class="pt_main_wrapper">
            <div class="pt_header_wrapper">
                <div class="pt_container">
                    <div class="pt_header_inner">
                        <div class="pt_logo">
                            <a href="/dashboard/">
                                <img src="/images/logo.png" alt="PixelTalk">
                            </a>
                        </div>
                        <div class="pt_nav">
                            <ul>
                                <li><a href="/dashboard/" class="<% if(menu=='dashboard'){ %><%= 'active'%><% } %>">Dashboard</a></li>
                                <li><a href="/projects/" class="<% if(menu=='projects'){ %><%= 'active'%><% } %>">Projects</a></li>
                                <% if(access_level==1){ %>
                                <li><a href="/operators/" class="<% if(menu=='operators'){ %><%= 'active'%><% } %>">Operators</a></li>
                                <% } %>
                                <li><a href="/profile/" class="<% if(menu=='profile'){ %><%= 'active'%><% } %>">Profile</a></li>
                            </ul>
                        </div>
                        <div class="pt_notification_wrapper pt_dropdown">
                            <div class="pt_notification_toggle" data-toggle="dropdown">
                                <i class="fal fa-bell"></i> <span class="pt_notification_count" style="display: none;"></span>
                            </div>
                            <div class="pt_dropdown_wrapper pt_dropdown_right">
                                <div class="pt_dropdown_inner">
                                    <div class="pt_nf_list">    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt_nav_toggle" data-toggle="dropdown"><i class="fal fa-bars"></i></div>
                        <div class="pt_avatar_wrapper pt_dropdown">
                            <div class="pt_avatar_toggle" data-toggle="dropdown">
                                <div class="pt_avatar_icon">
                                    <span class="pt_avatar_initials"><%= nm %></span>
                                    <img src="" alt="">
                                </div>
                                <div class="pt_avatar_name">Hi, <%= users %></div>
                            </div>
                            <div class="pt_dropdown_wrapper pt_dropdown_right">
                                <div class="pt_dropdown_inner">
                                    <ul>
                                        <li><a href="/profile/">Profile</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>