<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content=""/>
        <meta name="keywords" content="">
        <meta name="author" content=""/>
        <meta name="MobileOptimized" content="320">
        <title>PixelTalk</title>
        <link rel="shortcut icon" type="image/ico" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    </head>
    <body class="pt_loading">
        <div class="pt_preloader_wrapper">
            <div class="pt_preloader_inner">
                <div class="pt_preloader_bg">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867" style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve"><g><g><path d="M426.667,0.002H51.2C22.923,0.002,0,22.925,0,51.202v273.067c0,28.277,22.923,51.2,51.2,51.2h60.587l-9.284,83.456c-1.035,9.369,5.721,17.802,15.09,18.837c4.838,0.534,9.674-1.023,13.292-4.279l108.919-98.014h186.863c28.277,0,51.2-22.923,51.2-51.2V51.202C477.867,22.925,454.944,0.002,426.667,0.002z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </div>
                <div class="pt_preloader_dots"><span></span><span></span><span></span></div>
            </div>
        </div>
        <div class="pt_alert_wrapper">
            <div class="pt_alert_inner">
                <i class="far fa-check"></i>
                <span class="pt_alert_text">This is the message.</span>
            </div>
            <div class="pt_alert_close"><i class="far fa-times"></i></div>
        </div>
        <div class="pt_main_wrapper">
            <div class="pt_auth_wrapper">
                <div class="pt_auth_inner">
                    <div class="pt_auth_img">
                        <img src="/images/auth.png" alt="">
                    </div>
                    <div class="pt_auth_body">
                        <div class="pt_logo">
                            <img src="/images/logo.png" height="40px" width="180px" alt="PixelTalk">
                        </div>
						<h3>Hey There,<br> Welcome Back</h3>
                        <p>Only Alphachat Customers Can Login.</p>
                        <div class="pt_auth_chatbox input">
                            <span class="pt_icon"><i class="fal fa-user"></i></span>
                            <input type="text" class="pt_input" id="pt_email" placeholder="Enter your email" value="<% if(email!=''){ %><%= email %><% }else{ %><% } %>"/>
                        </div>
                        <div class="pt_auth_chatbox input">
                            <span class="pt_icon"><i class="fal fa-lock"></i></span>
                            <input type="password" class="pt_input" id="pt_password" placeholder="Enter your password" value="<% if(password!=''){ %><%= password %><% }else{ %><% } %>"/>
                        </div>
                        <div class="pt_forgot_remember input">
                            <div class="pt_checkbox">
                                <% if(email!='' && password!=''){ %>
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked=""/> 
                                <% }else{ %>
                                    <input type="checkbox" id="remember_me" name="_remember_me"/> 
                                <% } %>
                                <label for="remember_me">Remember me</label>
                            </div>
                            <a href="/forgot-password">Forgot password?</a>
                        </div>                    
                        <button type="button" class="pt_btn pt_btn_block pt_btn_dark" onclick="login()">Login <i class="fal fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>