<%- include('header', {menu:'operators'}) %>
<div class="pt_content_wrapper">
    <div class="pt_container">
        <div class="pt_page_title">
            <h3>Operators (<%= Operator.length%>)</h3>
            <button class="pt_btn" data-toggle="modal" data-target="#add_operator_popup">+ Add New</button>
        </div>
        <div class="pt_datatable_wrapper">
            <table class="pt_datatable" id="data_table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Project</td>
                        <td>Date</td>
                        <td class="tb_action">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <% var index=1; for(let i in Operator){ %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= Operator[i].name %></td>
                        <td><%= Operator[i].email %></td>
                        <td><% if(Operator[i].projectData[0].project_name != null){ %><%= Operator[i].projectData[0].project_name %><% }else{ %><%= '-' %><% } %></td>
                        <td><%= Operator[i].createdDate %></td>
                        <td class="tb_action">
                            <div class="pt_table_action">
                                <a class="pt_tb_btn edit_btn" data-toggle="modal" op-id="<%= Operator[i].id %>"><i class="far fa-edit"></i></a>
                                <a class="pt_tb_btn operator_delete" op-id="<%= Operator[i].id %>"><i class="far fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    <% index++; } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- start edit operator popup -->
<div id="edit_operator_popup" class="pt_popup_wrapper">
    <div class="pt_popup_inner">
        <div class="pt_popup_close op_edit_popup_close" data-dismiss="modal"><i class="far fa-times"></i></div>
        <div class="pt_popup_title">Edit Operator</div>
        <div class="pt_popup_body">
            <div class="pt_input_wrapper">
                <label>Name</label>
                <input type="text" class="pt_input" id="pt_edit_op_name" placeholder="Enter full name">
            </div>
            <div class="pt_input_wrapper">
                <label>Email</label>
                <input type="email" class="pt_input" id="pt_edit_op_email" placeholder="Enter email" readonly>
            </div>
            <div class="pt_input_wrapper">
                <label>Password <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Password needs to be a minimum of 6 characters."></i></span></label>
                <input type="password" class="pt_input" id="pt_edit_op_password" placeholder="Enter password">
            </div>
            <div class="pt_input_wrapper">
                <label>Project <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Select multiple project(hold ctrl to select multiple project) for this operator. When he login, he can reply or chat with customers for the selected project."></i></span></label>
                <select class="pt_input" id="pt_op_edit_project" multiple>
                    <% for(let i in projects){ %>
                    <option value="<%= projects[i].id %>"><%= projects[i].project_name %></option>
                    <% } %>
                </select>
            </div>
            <button class="pt_btn pt_op_updt_btn">Update</button>
        </div>
    </div>
</div>
<!-- end add operator popup -->

<!-- start add operator popup -->
<div id="add_operator_popup" class="pt_popup_wrapper">
    <div class="pt_popup_inner">
        <div class="pt_popup_close op_popup_close" data-dismiss="modal"><i class="far fa-times"></i></div>
        <div class="pt_popup_title">Create New Operator</div>
        <div class="pt_popup_body">
            <div class="pt_input_wrapper">
                <label>Name</label>
                <input type="text" class="pt_input" id="pt_op_name" placeholder="Enter full name">
            </div>
            <div class="pt_input_wrapper">
                <label>Email</label>
                <input type="email" class="pt_input" id="pt_op_email" placeholder="Enter email">
            </div>
            <div class="pt_input_wrapper">
                <label>Password <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Password needs to be a minimum of 6 characters."></i></span></label>
                <input type="password" class="pt_input" id="pt_op_password" placeholder="Enter password">
            </div>
            <div class="pt_input_wrapper">
                <label>Project <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Select multiple project(hold ctrl to select multiple project) for this operator. When he login, he can reply or chat with customers for the selected project."></i></span></label>
                <select class="pt_input" id="pt_op_add_project" multiple>
                    <% for(let i in projects){ %>
                    <option value="<%= projects[i].id %>"><%= projects[i].project_name %></option>
                    <% } %>
                </select>
            </div>
            <button class="pt_btn pt_op_add_btn">Add</button>
        </div>
    </div>
</div>
<!-- end add operator popup -->
<% include footer %>
