<%- include('header', {menu:'profile'}) %>

<div class="pt_content_wrapper" id="pt_profile" user-id="<%= userDetails.id %>">
    <div class="pt_container">
        <div class="pt_profile_wrapper">
            <div class="pt_input_wrapper_list">
                <div class="pt_input_wrapper">
                    <label>First Name</label>
                    <input type="text" class="pt_input" id="pro_fname" value="<%= userDetails.first_name %>" placeholder="Enter your first name" >
                </div>
                <div class="pt_input_wrapper">
                    <label>Last Name</label>
                    <input type="text" class="pt_input" id="pro_lname" value="<%= userDetails.last_name %>" placeholder="Enter your last name">
                </div>
            </div>
            <div class="pt_input_wrapper">
                <label>Email</label>
                <input type="text" class="pt_input" value="<%= userDetails.email %>" readonly disabled>
            </div>
            <div class="pt_input_wrapper">
                <label>Change Password
                    <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Password needs to be a minimum of 6 characters."></i></span>
                </label>
                <input type="password" class="pt_input" name="user_new_pwd" placeholder="Enter password"><br><br>
                <input type="password" class="pt_input" name="user_cnf_new_pwd" placeholder="Enter confirm password">
            </div>
            <button class="pt_btn pt_profile_updt">Update</button>
        </div>
    </div>
</div>
<% include footer %>
