<%- include('header', {menu:'projects'}) %>
<div class="pt_content_wrapper">
    <div class="pt_container">
        <div class="pt_create_project pt_step_wrapper_list">
            <!-- step 1 start -->
            <div class="pt_step_wrapper step1 active" id="check_fields">
                <div class="pt_cp_header">
                    <h3>Edit your project</h3>
                </div>
                <div class="pt_input_wrapper">
                    <label>Project Name</label>
                    <input type="text" class="pt_input" id="edit_project_name" placeholder="Enter your project name" value="<%= project.project_name %>">
                </div>
                <div class="pt_input_wrapper">
                    <label>Website URL <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Enter the website URL where you want to show the chat widget."></i></span></label>
                    <input type="text" class="pt_input" placeholder="Enter website URL(with http:// or https://)" value="<%= project.url %>" readonly>
                </div>
                <div class="text-center">
                    <button class="pt_btn pt_btn_xl updt_project" p-id="<%= project.id %>">Update</button>
                </div>
            </div>
            <!-- step 1 end -->
        </div>
    </div>
</div>
<%- include footer %>