<%- include('header', {menu:'projects'}) %>

<% include project_header %>

        <div class="pt_ps_content" pt-project-id="<%= project.id %>">
            <div class="pt_ps_setting_box">
                <h5>Widget status <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="When you off this switch, widget will disappear from website."></i></span></h5>
                <div class="pt_switch">
                    <% if(project.status==1){ %>
                        <input type="checkbox" id="widget_status_chk" data-status="<%= project.status %>" checked="">
                    <% }else{ %>
                        <input type="checkbox" id="widget_status_chk" data-status="<%= project.status %>">
                    <% } %>
                    <label for="widget_status_chk"></label>
                </div>
            </div>
            <div class="pt_ps_setting_box">
                <h5>Widget auto hide <span class="pt_info_tooltip"><i class="far fa-info-circle" data-toggle="tooltip" data-placement="right" title="Hide widget from website after a day, week or a month. For this you have to select a date when you want to hide this widget from website."></i></span></h5>
                <% if(project.auto_expires!='0000-00-00'){ %>
                <div class="pt_switch">
                    <input type="checkbox" id="auto_hide_widget" checked>
                    <label for="auto_hide_widget"></label>
                </div>
                <div class="pt_input_wrapper_list pt_wah_date">
                    <div class="pt_input_wrapper">
                        <label>Select date</label>
                        <input type="text" class="pt_input pt_datetimepicker" placeholder="Select date" value="<%= project.expiry %>">
                        <p id="datetimeError"></p>
                        <button class="pt_btn pt_expires_project">Save</button>
                    </div>
                    <div class="pt_input_wrapper"></div>
                    <div class="pt_input_wrapper"></div>
                </div>
                <% }else{ %>
                    <div class="pt_switch">
                        <input type="checkbox" id="auto_hide_widget">
                        <label for="auto_hide_widget"></label>
                    </div>
                    <div class="pt_input_wrapper_list pt_wah_date" style="display: none;">
                        <div class="pt_input_wrapper">
                            <label>Select date</label>
                            <input type="text" class="pt_input pt_datetimepicker" placeholder="Select date">
                            <p id="datetimeError"></p>
                            <button class="pt_btn pt_expires_project">Save</button>
                        </div>
                        <div class="pt_input_wrapper"></div>
                        <div class="pt_input_wrapper"></div>
                    </div>
                <% } %>
            </div>
            <div class="pt_ps_setting_box pt_remove_project">
                <h5>Remove project</h5>
                <p>Removing the project will delete all related resources including chat history, customers, appearance settings etc.</p>
                <button class="pt_btn project_delete" project-id="<%= project.id %>">Remove Project</button>
            </div>
        </div>

        </div>
    </div>
</div>
<% include footer %>