<div class="pt_content_wrapper">
    <div class="pt_container">
        <div class="pt_ps_wrapper">
            <div class="pt_ps_sidebar">
                <div class="pt_ps_title">
                    <a href="/projects/"><i class="far fa-arrow-left"></i> Back</a>
                    <h3 project-id="<%= project.id%>"><%= project.project_name %></h3>
                </div>
                <div class="pt_ps_sidebar_nav">
                    <ul>
                        <li><a href="/projects/project-customers/<%= project.id%>" class="<% if(menu=='project-customers'){ %><%= 'active'%><% }else{ %><% } %>">Customers</a></li>
                        <li><a href="/projects/project-appearance/<%= project.id%>" class="<% if(menu=='project-appearance'){ %><%= 'active'%><% }else{ %><% } %>">Widget Appearance</a></li>
                        <li><a href="/projects/project-script/<%= project.id%>" class="<% if(menu=='project-script'){ %><%= 'active'%><% }else{ %><% } %>">Install Script</a></li>
                        <li><a href="/projects/project-settings/<%= project.id%>" class="<% if(menu=='project-settings'){ %><%= 'active'%><% }else{ %><% } %>">Settings</a></li>
                    </ul>
                </div>
            </div>