<%- include('header', {menu:'projects'}) %>
<div class="pt_content_wrapper">
    <div class="pt_container" id="filter">
        <% if(access_level!=2){ %>
        <div class="d-flex align-items-center justify-content-space-between mb-50">
            <div class="pt_search_box">
                <input type="text" id="pt_project_search" placeholder="Search project">
                <span class="pt_search_icon"><i class="far fa-search"></i></span>
            </div>
            <a href="/projects/create-project" class="pt_btn">+ New Project</a>
        </div>
        
        <div class="pt_divider_with_text">
            <span class="pt_dt_title"><i class="far fa-star"></i> Favourite</span>
            <span class="pt_dt_line"></span>
        </div>
        <% }else{ %>
            <div class="pt_divider_with_text">
                <span class="pt_dt_title"><i class="far fa-dice-d6"></i> All Projects</span>
                <span class="pt_dt_line"></span>
            </div>
        <% } %>
        <div class="pt_project_list pt_fav">
            <% for(let i in project){ %>
                <% if(project[i].favourite==1){ %>
                    <div class="pt_project favourite">
                        <div class="pt_project_inner">
                            <div class="pt_pro_icon">
                                <div class="pt_logo">
                                    <a><img src="/images/logo.svg" alt="PixelTalk"></a>
                                </div>
                                <div class="pt_pro_overlay">
                                    <div class="pt_pro_favourite" p-id="<%= project[i].id %>"><% if(access_level==2){ %><% }else{ %><i class="far fa-star"></i><% } %></div>
                                    <div class="pt_pro_actions">
                                        <a href="/projects/chat/<%= project[i].id %>" title="View"><i class="far fa-eye"></i></a>
                                        <% if(access_level==2){ %><% }else{ %><a href="/projects/project-customers/<%= project[i].id %>" title="Settings"><i class="far fa-cog"></i></a><% } %>
                                        <% if(access_level==2){ %><% }else{ %><a href="/projects/project-edit/<%= project[i].id %>" title="edit project"><i class="far fa-edit"></i></a><% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="pt_pro_details">
                                <h3><%= project[i].project_name %><% if(project[i].unreadMsg!=0){ %><span class="pt_pro_chat_count pt_pro_chat_count_<%= project[i].id %>"><%= project[i].unreadMsg %></span><% }else{ %><span class="pt_pro_chat_count pt_pro_chat_count_<%= project[i].id %>" style="display: none;"></span><% } %></h3>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <p class="fav" style="display:none;">No matching records found</p>
        <% if(access_level!=2){ %>
        </div>
        
        <div class="pt_divider_with_text">
            <span class="pt_dt_title"><i class="far fa-dice-d6"></i> All Projects</span>
            <span class="pt_dt_line"></span>
        </div>
        <div class="pt_project_list pt_apl">
        <% } %>
            <% for(let i in project){ %>
                <% if(project[i].favourite==0){ %>
                    <div class="pt_project pt_all_project">
                        <div class="pt_project_inner">
                            <div class="pt_pro_icon">
                                <div class="pt_logo">
                                    <a><span class="pt_logo_name">Open To Chat</span></a>
                                </div>
                                <div class="pt_pro_overlay">
                                    <div class="pt_pro_favourite" p-id="<%= project[i].id %>"><% if(access_level==2){ %><% }else{ %><i class="far fa-star"></i><% } %></div>
                                    <div class="pt_pro_actions">
                                        <a href="/projects/chat/<%= project[i].id %>" title="View"><i class="far fa-eye"></i></a>
                                        <% if(access_level==2){ %><% }else{ %><a href="/projects/project-customers/<%= project[i].id %>" title="Settings"><i class="far fa-cog"></i></a><% } %>
                                        <% if(access_level==2){ %><% }else{ %><a href="/projects/project-edit/<%= project[i].id %>" title="edit project"><i class="far fa-edit"></i></a><% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="pt_pro_details">
                                <h3><%= project[i].project_name %><% if(project[i].unreadMsg!=0){ %><span class="pt_pro_chat_count pt_pro_chat_count_<%= project[i].id %>"><%= project[i].unreadMsg %></span><% }else{ %><span class="pt_pro_chat_count pt_pro_chat_count_<%= project[i].id %>" style="display: none;"></span><% } %></h3>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        <p class="all_project" style="display:none;">No matching records found</p>
        <% if(access_level!=2){ %>
        </div>
        <% } %>
    </div>
</div>

<% include footer %>