<%- include('header', {menu:'projects'}) %>

<% include project_header %>
            <div class="pt_ps_content">
                <div class="pt_datatable_wrapper">
                    <table class="pt_datatable" id="customer_datatable">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Customer IP</td>
                                <td>Date</td>
                                <td class="tb_action">Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% var index = 1; for(let i in customer){ %>
                            <tr>
                                <td><%= index %></td>
                                <td><%= customer[i].name %></td>
                                <td><%= customer[i].email %></td>
                                <td><%= customer[i].customer_ip %></td>
                                <td><%= customer[i].createdDate %></td>
                                <td class="tb_action">
                                    <div class="pt_table_action">
                                        <a class="pt_tb_btn customer_chat_open" cust-id="<%= customer[i].id %>"><i class="far fa-eye"></i></a>
                                        <a class="pt_tb_btn customer_delete" cust-id="<%= customer[i].id %>"><i class="far fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <% index++; } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>