<%- include('header', {menu:'projects'}) %>

<% include project_header %>
    <div class="pt_ps_content">
        <div class="pt_script_box">
            <div class="mb-20">Place this script before the closing &lt;/body&gt; tag on website you have added for this project, where you'd like your chat widget to appear.</div>
            <div class="pt_input_wrapper pro_sc">
                <textarea class="pt_input" rows="2" readonly><%- url %></textarea>
            </div>
            <button class="pt_btn cpy_sc"><i class="far fa-copy"></i> Copy to clipboard</button>
        </div>
    </div>
</div>
</div>
</div>
<% include footer %>