<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="description" content=""/>
        <meta name="keywords" content="">
        <meta name="author" content=""/>
        <meta name="MobileOptimized" content="320">
        <title>PixelTalk</title>
        <link rel="shortcut icon" type="image/ico" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    </head>
    <body>
        <div class="ptc_main_wrapper">
            <div class="ptc_sidebar_wrapper" id="search_customer">
                <div class="ptc_logo">
                    <div class="pt_logo">
                        <a href="/projects/"><span class="pt_logo_initial">P <i class="far fa-comment-alt"></i></span><span class="pt_logo_name">Talk.</span></a>
                    </div>
                </div>
                <input type="hidden" id="hidden_data" operator-name="<%= users %>" operator-id="<%= userId %>">
                <div class="ptc_sidebar_nav">
                    <ul>
                        <li><a class="active"><i class="far fa-comment-alt-lines"></i> Chat</a></li>
                    </ul>
                </div>
                <div class="ptc_search">
                    <input type="text" class="ptc_search_input" id="ptc_search_input" placeholder="Search">
                    <span class="ptc_search_icon"><i class="far fa-search"></i></span>
                </div>
                <div class="ptc_chat_user_list">
                    <% for(let i in customer){ %>
                        <% var n=customer[i].name.split(' ');if(n.length==2){var f=n[0][0]+n[1][0];}else{var f=n[0][0]} %>
                        <div class="ptc_cu_item" u-id="<%= customer[i].id %>" pt-pro-id="<%= id %>">
                            <div class="ptc_cu_avatar"><%= f %><% if(customer[i].active==1){ %><span class="ptc_status online" title="Online"></span><% }else if(customer[i].active==2){ %><span class="ptc_status away" title="Away"></span><% }else{ %><span class="ptc_status offline" title="Offline"></span><% } %></div>
                            <div class="ptc_cu_detail">
                                <div class="ptc_cu_name"><%= customer[i].name %></div>
                                <div class="ptc_cu_time"><%= customer[i].createdDate %>&nbsp;&nbsp; &nbsp;&nbsp;<% if(customer[i].unreadMsg.msg>0){ %><span class="ptc_chat_count_<%= customer[i].id %>"><%= customer[i].unreadMsg.msg %></span><% }else{ %><span class="ptc_chat_count_<%= customer[i].id %>" style="display:none;"></span><% } %></div>
                            </div>
                        </div>
                    <% } %>
                    <p style="display:none;">No matching records found</p>
                </div>
            </div>
            <div class="ptc_content_wrapper">
                <div class="ptc_chatbox_wrapper" style="display: none;">
                    <div class="ptc_cb_header">
                        <h3>John Parker</h3>
                        <p><span class="ptc_status online" title="Online"></span> Online</p>
                        <div class="ptc_sidebar_toggle"><i class="fal fa-bars"></i></div>
                    </div>
                    <div class="ptc_cb_body">
                        <div class="ptc_cb_msg_wrapper" id="messageBody"></div>
                    </div>
                    <div class="ptc_cb_footer">
                        <div class="ptc_cb_textbox">
                            <textarea class="ptc_cb_tb" id="ptc_send_message" placeholder="Enter your message"></textarea>
                            <span class="ptc_send_message_btn"><i class="fal fa-paper-plane"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/element.js"></script>
    <script src="/js/chatScript.js"></script>

</html>