<%- include('header', {menu:'projects'}) %>

<% include project_header %>
<div class="pt_ps_content" pt-project-id="<%= project.id %>">
    <div class="pt_wa_wrapper">
        <div class="pt_wa_options">
            <form id="pt_wa_setting">
            <input type="hidden" name="theme_color" value="<%= setting.theme.color_class %>">
            <div class="pt_wa_option_box_list">
                <div class="pt_wa_option_box">
                    <h5>Themes color</h5>
                    <div class="pt_wa_color_list">
                        <div class="pt_color <% if(setting.theme.color_class=='t1'){ %><%= 'active'%><% } %>" data-theme="t1"></div>
                        <div class="pt_color <% if(setting.theme.color_class=='t2'){ %><%= 'active'%><% } %>" data-theme="t2"></div>
                        <div class="pt_color <% if(setting.theme.color_class=='t3'){ %><%= 'active'%><% } %>" data-theme="t3"></div>
                        <div class="pt_color <% if(setting.theme.color_class=='t4'){ %><%= 'active'%><% } %>" data-theme="t4"></div>
                        <div class="pt_color <% if(setting.theme.color_class=='t5'){ %><%= 'active'%><% } %>" data-theme="t5"></div>
                        <div class="pt_color <% if(setting.theme.color_class=='t6'){ %><%= 'active'%><% } %>" data-theme="t6"></div>
                    </div>
                </div>
                
                <div class="pt_wa_option_box">
                    <div class="pt_input_wrapper">
                        <label>Widget Title</label>
                        <input type="text" class="pt_input" name="widget_title" data-name="ptw_widget_title" placeholder="Enter widget title" value="<%= setting.widget_title %>">
                    </div>

                    <h5>Login screen contents</h5>
                    <div class="pt_input_wrapper">
                        <label>Heading</label>
                        <input type="text" class="pt_input" name="lc_heading" data-name="ptw_heading" placeholder="Enter heading" value="<%= setting.login_screen_contents.heading %>">
                    </div>
                    <div class="pt_input_wrapper">
                        <label>Sub Heading</label>
                        <input type="text" class="pt_input" name="lc_sub_heading" data-name="ptw_sub_heading" placeholder="Enter sub-heading" value="<%= setting.login_screen_contents.sub_heading %>">
                    </div>
                    <div class="pt_input_wrapper_list">
                        <div class="pt_input_wrapper">
                            <label>Name field label</label>
                            <input type="text" class="pt_input" name="lc_name_label" data-name="ptw_name_label" placeholder="Enter name label" value="<%= setting.login_screen_contents.name.label %>">
                        </div>
                        <div class="pt_input_wrapper">
                            <label>Name field placeholder</label>
                            <input type="text" class="pt_input" name="lc_name_ph" data-name="ptw_name_input" placeholder="Enter name placeholder" value="<%= setting.login_screen_contents.name.placeholder %>">
                        </div>
                    </div>
                    <div class="pt_input_wrapper_list">
                        <div class="pt_input_wrapper">
                            <label>Email field label</label>
                            <input type="text" class="pt_input" name="lc_email_label" data-name="ptw_email_label" placeholder="Enter email label" value="<%= setting.login_screen_contents.email.label %>">
                        </div>
                        <div class="pt_input_wrapper">
                            <label>Email field placeholder</label>
                            <input type="text" class="pt_input" name="lc_email_ph" data-name="ptw_email_input" placeholder="Enter email placeholder" value="<%= setting.login_screen_contents.email.placeholder %>">
                        </div>
                    </div>
                    <div class="pt_input_wrapper">
                        <label>Button text</label>
                        <input type="text" class="pt_input" name="lc_button" data-name="btn_text" placeholder="Enter button text" value="<%= setting.login_screen_contents.button %>">
                    </div>
                </div>

                <!-- <div class="pt_wa_option_box">
                    <h5>Offline screen contents</h5>
                    <div class="pt_input_wrapper">
                        <label>Heading</label>
                        <input type="text" class="pt_input" name="oc_heading" data-name="ptw_oc_heading" placeholder="Enter heading" value="<%= setting.offline_screen_contents.heading %>">
                    </div>
                    <div class="pt_input_wrapper">
                        <label>Sub Heading</label>
                        <input type="text" class="pt_input" name="oc_sub_heading" data-name="ptw_oc_sub_heading" placeholder="Enter sub-heading" value="<%= setting.offline_screen_contents.sub_heading %>">
                    </div>
                    <div class="pt_input_wrapper_list">
                        <div class="pt_input_wrapper">
                            <label>Name field label</label>
                            <input type="text" class="pt_input" name="oc_name_label" data-name="ptw_oc_name_label" placeholder="Enter name label" value="<%= setting.offline_screen_contents.name.label %>">
                        </div>
                        <div class="pt_input_wrapper">
                            <label>Name field placeholder</label>
                            <input type="text" class="pt_input" name="oc_name_ph" data-name="ptw_oc_name_placeholder" placeholder="Enter name placeholder" value="<%= setting.offline_screen_contents.name.placeholder %>">
                        </div>
                    </div>
                    <div class="pt_input_wrapper_list">
                        <div class="pt_input_wrapper">
                            <label>Email field label</label>
                            <input type="text" class="pt_input" name="oc_email_label" data-name="ptw_oc_email_label" placeholder="Enter email label" value="<%= setting.offline_screen_contents.email.label %>">
                        </div>
                        <div class="pt_input_wrapper">
                            <label>Email field placeholder</label>
                            <input type="text" class="pt_input" name="oc_email_ph" data-name="ptw_oc_email_ph" placeholder="Enter email placeholder" value="<%= setting.offline_screen_contents.email.placeholder %>">
                        </div>
                    </div>
                    <div class="pt_input_wrapper_list">
                        <div class="pt_input_wrapper">
                            <label>Message field label</label>
                            <input type="text" class="pt_input" name="oc_msg_label" data-name="ptw_oc_msg_label" placeholder="Enter email label" value="<%= setting.offline_screen_contents.message.label %>">
                        </div>
                        <div class="pt_input_wrapper">
                            <label>Message field placeholder</label>
                            <input type="text" class="pt_input" name="oc_msg_ph" data-name="ptw_oc_msg_ph" placeholder="Enter email placeholder" value="<%= setting.offline_screen_contents.message.placeholder %>">
                        </div>
                    </div>
                    <div class="pt_input_wrapper">
                        <label>Button text</label>
                        <input type="text" class="pt_input" name="oc_button" data-name="ptw_oc_btn" placeholder="Enter button text" value="<%= setting.offline_screen_contents.button %>">
                    </div>
                </div> -->

                <div class="pt_wa_option_box">
                    <h5>Error message</h5>
                    <div class="pt_input_wrapper_list">
                        <div class="pt_input_wrapper">
                            <label>Empty field error message </label>
                            <input type="text" class="pt_input" name="em_err_msg" placeholder="Enter message" value="<%= setting.error_message.err_msg %>">
                        </div>
                        <div class="pt_input_wrapper">
                            <label>Invalid email error message</label>
                            <input type="text" class="pt_input" name="em_email_err_msg" placeholder="Enter message" value="<%= setting.error_message.email_err_msg %>">
                        </div>
                    </div>
                </div>
                <div class="pt_wa_option_box">
                    <h5>Widget Type</h5>
                    <div class="pt_cp_widget_type">
                        <div class="pt_cpwt_item">
                            <% if(setting.widget.type=='bubble'){ %>
                                <input type="radio" id="widget_bubble" name="widget_type" value="bubble" checked="">
                            <% }else{ %>
                                <input type="radio" id="widget_bubble" name="widget_type" value="bubble">
                            <% } %>
                            <label for="widget_bubble">
                                <span class="pt_widget_type bubble">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path fill="#ffffff" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg>
                                </span>
                                <p>Bubble</p>
                            </label>
                        </div>
                        <div class="pt_cpwt_item">
                            <% if(setting.widget.type=='button'){ %>
                                <input type="radio" id="widget_button" name="widget_type" value="button" checked="">
                            <% }else{ %>
                                <input type="radio" id="widget_button" name="widget_type" value="button">
                            <% } %>
                            <label for="widget_button">
                                <span class="pt_widget_type button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path fill="#ffffff" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg> <%= setting.widget.text %></span>
                                <p>Button</p>
                            </label>
                        </div>
                    </div>
                    <% if(setting.widget.type=='button'){ %>
                    <div class="pt_input_wrapper pt_input_wt_button">
                        <label>Text</label>
                        <input type="text" class="pt_input" name="widget_button_text" placeholder="Enter text" value="<%= setting.widget.text %>">
                    </div>
                    <% }else{ %>
                        <div class="pt_input_wrapper d-none pt_input_wt_button">
                            <label>Text</label>
                            <input type="text" class="pt_input" name="widget_button_text" placeholder="Enter text" value="Chat with us">
                        </div>
                    <% } %>
                </div>
                <div class="pt_wa_option_box">
                    <h5>Position</h5>
                    <div class="pt_radio_list">
                        <div class="pt_radio">
                            <% if(setting.position=='left'){ %>
                                <input type="radio" id="p_left" name="widget_position" value="left" checked="">
                            <% }else{ %> 
                                <input type="radio" id="p_left" name="widget_position" value="left">
                            <% } %>
                            <label for="p_left">Left</label>
                        </div>
                        <div class="pt_radio">
                            <% if(setting.position=='right'){ %>
                                <input type="radio" id="p_right" name="widget_position" value="right" checked="">
                            <% }else{ %> 
                                <input type="radio" id="p_right" name="widget_position" value="right">
                            <% } %>
                            <label for="p_right">Right</label>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <button class="pt_btn pt_save_settings">Save Settings</button>
        </div>
        <div class="pt_wa_preview">
            <h3>Widget Preview</h3>
            <div class="ptw_widget_wrapper ptw_widget_<%= setting.position %> ptw_<%= setting.widget.type %> <% if(setting.theme.color_class){ %><%= 'ptw_'+setting.theme.color_class %><% } %>">
                <div class="ptw_widget_inner">
                    <div class="ptw_chat_toggle">
                        <span class="ptw_chat_bubble_arrow"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20px" height="20px"><path fill="#ffffff" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg>
                        <span><%= setting.widget.text %></span>
                    </div>
                    <div class="ptw_chat_box_wrapper">
                        <div class="ptw_chat_box_inner">
                            <div class="ptw_cb_header">
                                <div class="ptw_cb_title">
                                    <h3 name="ptw_widget_title"><%= setting.widget_title %></h3>
                                    <div class="ptw_cb_title_actions">
                                        <div class="ptw_cb_minimize_chat" title="Minimize"></div>
                                        <div class="ptw_cb_close_chat" title="Close Chat"><span></span><span></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="ptw_login_box">
                                <h3 name="ptw_heading"><%= setting.login_screen_contents.heading %></h3>
                                <p name="ptw_sub_heading"><%= setting.login_screen_contents.sub_heading %></p>
                                <div class="ptw_input_wrapper">
                                    <label name="ptw_name_label"><%= setting.login_screen_contents.name.label %></label>
                                    <input type="text" class="ptw_input" name="ptw_name_input" placeholder="<%= setting.login_screen_contents.name.placeholder %>">
                                </div>
                                <div class="ptw_input_wrapper">
                                    <label name="ptw_email_label"><%= setting.login_screen_contents.email.label %></label>
                                    <input type="text" class="ptw_input" name="ptw_email_input" placeholder="<%= setting.login_screen_contents.email.placeholder %>">
                                </div>
                                <button class="ptw_btn ptw_login_btn" name="btn_text"><%= setting.login_screen_contents.button %></button>
                            </div>
                            <!-- <div class="ptw_offline_box">
                                <h3 name="ptw_oc_heading"><%= setting.offline_screen_contents.heading %></h3>
                                <p name="ptw_oc_sub_heading"><%= setting.offline_screen_contents.sub_heading %></p>
                                <div class="ptw_input_wrapper">
                                    <label name="ptw_oc_name_label"><%= setting.offline_screen_contents.name.label %></label>
                                    <input type="text" class="ptw_input" name="ptw_oc_name_placeholder" placeholder="<%= setting.offline_screen_contents.name.placeholder %>">
                                </div>
                                <div class="ptw_input_wrapper">
                                    <label name="ptw_oc_email_label"><%= setting.offline_screen_contents.email.label %></label>
                                    <input type="text" class="ptw_input" name="ptw_oc_email_ph" placeholder="<%= setting.offline_screen_contents.email.placeholder %>">
                                </div>
                                <div class="ptw_input_wrapper">
                                    <label name="ptw_oc_msg_label"><%= setting.offline_screen_contents.message.label %></label>
                                    <textarea rows="3" class="ptw_input" name="ptw_oc_msg_ph" placeholder="<%= setting.offline_screen_contents.message.placeholder %>"></textarea>
                                </div>
                                <button class="ptw_btn ptw_off_btn" name="ptw_oc_btn"><%= setting.offline_screen_contents.button %></button>
                            </div> -->
                            <div class="ptw_chat_box">
                                <div class="ptw_cb_body">
                                    <div class="ptw_cb_msg_wrapper" id="ptw_messageBody">
                                        <div class="ptw_cb_msg ptw_left">
                                            <div class="ptw_cb_msg_inner">
                                                <p class="ptw_cb_msg_time">Username, 3:40 PM</p>
                                                <p class="ptw_cb_msg_text">Hello</p>
                                            </div>
                                        </div>
                                        
                                        <div class="ptw_cb_msg ptw_right">
                                            <div class="ptw_cb_msg_inner">
                                                <p class="ptw_cb_msg_time">Operator, 3:40 PM</p>
                                                <p class="ptw_cb_msg_text">This is the demo message.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ptw_cb_footer">
                                    <textarea class="ptw_cb_textarea" placeholder="Enter your message"></textarea>
                                    <span class="ptw_send_message_btn">
                                        <i class="fal fa-paper-plane"></i>  
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<% include footer %>