@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.ptw_widget_wrapper *, .ptw_widget_wrapper *::before, .ptw_widget_wrapper *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* scrollbar start */
.ptw_widget_wrapper *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.ptw_widget_wrapper *::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}
.ptw_widget_wrapper *::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 10px;
}
.ptw_widget_wrapper * {
    scrollbar-color: #ffffff #f1f1f1;
    scrollbar-width: thin;
}
/* scrollbar end */


.ptw_widget_wrapper{
    position: fixed;
    bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.ptw_widget_wrapper.ptw_widget_left{
    left: 30px;
}
.ptw_widget_wrapper.ptw_widget_right{
    right: 30px;
}
.ptw_widget_wrapper > .ptw_widget_inner{
    position: relative;
}

/* chat toggle button start */
.ptw_chat_toggle{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #ff4f5a;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    -webkit-animation: ptwchattoggle_anim 0.3s;
    -moz-animation: ptwchattoggle_anim 0.3s;
    animation: ptwchattoggle_anim 0.3s;
}
@-webkit-keyframes ptwchattoggle_anim{
    0%{-webkit-transform: scale(0.5); opacity: 0;}
    100%{-webkit-transform: scale(1); opacity: 1;}
}
@-moz-keyframes ptwchattoggle_anim{
    0%{-moz-transform: scale(0.5); opacity: 0;}
    100%{-moz-transform: scale(1); opacity: 1;}
}
@keyframes ptwchattoggle_anim{
    0%{transform: scale(0.5); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}
.ptw_chat_toggle > span{
    display: none;
}
.ptw_chat_toggle > .ptw_chat_bubble_arrow{
    content: "";
    position: absolute;
    top: 60%;
    right: 75%;
    display: block;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid #ff4f5a;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.ptw_button .ptw_chat_toggle{
    width: 190px;
    height: 50px;
    border-radius: 15px 15px 0 0;
    -webkit-animation: ptwchattogglebutton_anim 0.3s;
    -moz-animation: ptwchattogglebutton_anim 0.3s;
    animation: ptwchattogglebutton_anim 0.3s;
}
@-webkit-keyframes ptwchattogglebutton_anim{
    0%{-webkit-transform: translateY(100%); opacity: 0;}
    100%{-webkit-transform: translateY(0); opacity: 1;}
}
@-moz-keyframes ptwchattogglebutton_anim{
    0%{-moz-transform: translateY(100%); opacity: 0;}
    100%{-moz-transform: translateY(0); opacity: 1;}
}
@keyframes ptwchattogglebutton_anim{
    0%{transform: translateY(100%); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
.ptw_button .ptw_chat_toggle > span{
    display: inline-flex;
    margin-left: 8px;
}
.ptw_button .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    display: none;
}
.ptw_widget_wrapper.ptw_button{
    bottom: 0;
}
/* chat toggle button end */

/* chat box start */
.ptw_chat_box_wrapper{
    position: absolute;
    bottom: 100%;
    right: 0px;
    width: 300px;
    display: none;
    -webkit-animation: ptwchatbox_anim 0.3s;
    -moz-animation: ptwchatbox_anim 0.3s;
    animation: ptwchatbox_anim 0.3s;
}
@-webkit-keyframes ptwchatbox_anim{
    0%{-webkit-transform: translateY(10px); opacity: 0;}
    100%{-webkit-transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes ptwchatbox_anim{
    0%{-moz-transform: translateY(10px); opacity: 0;}
    100%{-moz-transform: translateY(0px); opacity: 1;}
}
@keyframes ptwchatbox_anim{
    0%{transform: translateY(10px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
.ptw_button .ptw_chat_box_wrapper{
    bottom: 30px;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner{
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* min-height: 350px; */
    position: relative;
    overflow: hidden;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_offline_box,
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_login_box{
    padding: 30px;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_offline_box > h3,
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_login_box > h3{
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_offline_box > p,
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_login_box > p{
    margin: 0;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 400;
}

.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_chat_box{
    display: none;
    flex-direction: column;
    position: relative;
    min-height: 350px;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header{
    flex: none;
    padding: 15px 14px 14px;
    position: relative;
    background-color: #ff4f5a;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title > h3{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title .ptw_cb_minimize_chat{
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 2px;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title .ptw_cb_minimize_chat::before{
    content: "";
    width: 12px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 3px;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title .ptw_cb_close_chat{
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    vertical-align: middle;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title .ptw_cb_close_chat > span{
    width: 12px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header > .ptw_cb_title .ptw_cb_close_chat > span:nth-child(2){
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_chat_box > .ptw_cb_body{
    flex: 1;
    position: relative;
}
.ptw_widget_left .ptw_chat_box_wrapper{
    left: 0;
    right: auto;
}
.ptw_cb_msg_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 15px;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg{
    margin-bottom: 15px;
    -webkit-animation: ptcmsg_anim 0.3s;
    -moz-animation: ptcmsg_anim 0.3s;
    animation: ptcmsg_anim 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg > .ptw_cb_msg_inner{
    display: inline-block;
    max-width: 70%;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg > .ptw_cb_msg_inner > .ptw_cb_msg_text{
    background-color: #f1f1f1;
    color: #222222;
    padding: 10px 12px;
    border-radius: 10px 10px 10px 0;
    font-size: 13px;
    margin: 0;
    word-break: break-word;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg > .ptw_cb_msg_inner > .ptw_cb_msg_text a{
    color: inherit;
    text-decoration: underline;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text a{
    color: #ffffff;
    text-decoration: underline;
}
@-webkit-keyframes ptcmsg_anim{
    0%{-webkit-transform: translateY(10px); opacity: 0;}
    100%{-webkit-transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes ptcmsg_anim{
    0%{-moz-transform: translateY(10px); opacity: 0;}
    100%{-moz-transform: translateY(0px); opacity: 1;}
}
@keyframes ptcmsg_anim{
    0%{transform: translateY(10px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
.ptw_cb_msg_wrapper > .ptw_cb_msg > .ptw_cb_msg_inner > .ptw_cb_msg_time{
    font-size: 11px;
    margin: 0;
    margin-bottom: 2px;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right{
    text-align: right;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text{
    background-color: #ff4f5a;
    color: #ffffff;
    border-radius: 10px 10px 0 10px;
    margin: 0;
    display: inline-block;
    text-align: left;
}
.ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_time{
    padding-right: 5px;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_chat_box > .ptw_cb_footer{
    flex: none;
    background-color: #ffffff;
    border-top: 1px solid #f1f1f1;
    position: relative;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_chat_box > .ptw_cb_footer > textarea.ptw_cb_textarea{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    padding-right: 45px;
    height: 50px;
    font-size: 14px;
    background-color: transparent;
    resize: none;
    font-family: inherit;
}
.ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_chat_box > .ptw_cb_footer > textarea.ptw_cb_textarea::-webkit-input-placeholder{
    color: #cccccc;
}
.ptw_cb_footer > .ptw_send_message_btn{
    position: absolute;
    top: 13px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b1b1b1;
    padding-right: 3px;
    cursor: pointer;
}
.ptw_cb_footer > .ptw_send_message_btn.active{
    background-color: #ff4f5a;
    color: #ffffff;
}

.ptw_input_wrapper{
    margin-bottom: 20px;
}
.ptw_input_wrapper > label{
    font-size: 13px;
    color: #888888;
    margin: 0;
    font-weight: 400;
    display: block;
    margin-bottom: 4px;
}
.ptw_input_wrapper > .ptw_input{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
.ptw_input_wrapper > .ptw_input:focus{
    border-color: #ff4f5a;
}
.ptw_input_wrapper > textarea.ptw_input{
    resize: none;
}
.ptw_input_wrapper > #pixel_user_name_error,
.ptw_input_wrapper > #pixel_user_email_error{
    margin: 0;
    font-size: 12px;
    color: #F44336;
    line-height: inherit;
    margin-top: 2px;
}
.ptw_btn{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff4f5a;
    color: #ffffff;
    border: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}
/* chat box end */


/* themes start */
/* ----
theme colors
T1 - #ff4f5a
T2 - #9C27B0
T3 - #673AB7
T4 - #3F51B5
T5 - #2196F3
T6 - #FF9800
---- */ 
/* theme 1 start */
.ptw_t1 .ptw_cb_footer > .ptw_send_message_btn.active,
.ptw_t1 .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header,
.ptw_t1 .ptw_btn,
.ptw_t1 .ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text,
.ptw_t1 .ptw_chat_toggle{
    background-color: #ff4f5a;
}
.ptw_t1 .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    border-right-color: #ff4f5a;
}
.ptw_t1 .ptw_input_wrapper > .ptw_input:focus{
    border-color: #ff4f5a;
}
/* theme 1 end */

/* theme 2 start */
.ptw_t2 .ptw_cb_footer > .ptw_send_message_btn.active,
.ptw_t2 .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header,
.ptw_t2 .ptw_btn,
.ptw_t2 .ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text,
.ptw_t2 .ptw_chat_toggle{
    background-color: #9C27B0;
}
.ptw_t2 .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    border-right-color: #9C27B0;
}
.ptw_t2 .ptw_input_wrapper > .ptw_input:focus{
    border-color: #9C27B0;
}
/* theme 2 end */

/* theme 3 start */
.ptw_t3 .ptw_cb_footer > .ptw_send_message_btn.active,
.ptw_t3 .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header,
.ptw_t3 .ptw_btn,
.ptw_t3 .ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text,
.ptw_t3 .ptw_chat_toggle{
    background-color: #673AB7;
}
.ptw_t3 .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    border-right-color: #673AB7;
}
.ptw_t3 .ptw_input_wrapper > .ptw_input:focus{
    border-color: #673AB7;
}
/* theme 3 end */

/* theme 4 start */
.ptw_t4 .ptw_cb_footer > .ptw_send_message_btn.active,
.ptw_t4 .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header,
.ptw_t4 .ptw_btn,
.ptw_t4 .ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text,
.ptw_t4 .ptw_chat_toggle{
    background-color: #3F51B5;
}
.ptw_t4 .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    border-right-color: #3F51B5;
}
.ptw_t4 .ptw_input_wrapper > .ptw_input:focus{
    border-color: #3F51B5;
}
/* theme 4 end */

/* theme 5 start */
.ptw_t5 .ptw_cb_footer > .ptw_send_message_btn.active,
.ptw_t5 .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header,
.ptw_t5 .ptw_btn,
.ptw_t5 .ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text,
.ptw_t5 .ptw_chat_toggle{
    background-color: #2196F3;
}
.ptw_t5 .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    border-right-color: #2196F3;
}
.ptw_t5 .ptw_input_wrapper > .ptw_input:focus{
    border-color: #2196F3;
}
/* theme 5 end */

/* theme 6 start */
.ptw_t6 .ptw_cb_footer > .ptw_send_message_btn.active,
.ptw_t6 .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_cb_header,
.ptw_t6 .ptw_btn,
.ptw_t6 .ptw_cb_msg_wrapper > .ptw_cb_msg.ptw_right > .ptw_cb_msg_inner > .ptw_cb_msg_text,
.ptw_t6 .ptw_chat_toggle{
    background-color: #FF9800;
}
.ptw_t6 .ptw_chat_toggle > .ptw_chat_bubble_arrow{
    border-right-color: #FF9800;
}
.ptw_t6 .ptw_input_wrapper > .ptw_input:focus{
    border-color: #FF9800;
}
/* theme 6 end */


/* themes end */