@charset "UTF-8";
/*
Copyright (c) 2020 PixelNX
------------------------------------------------------------------
[Master Default Stylesheet]
-------------------------------------------------------------------
[Table of contents]

1. body
2. authentication
3. header
4. projects
5. project settings
6. create project
7. chat dashboard
8. widget appearance
9. project settings
 .
 .
 .
51. components
52. responsive
 

 
-------------------------------------------------------------------*/

/********************************************************************************************* 
1. body start
*********************************************************************************************/
:root{
    --main-color : #ff4f5a;
    --color-body : #a9a9a9;
    --color-heading : #343434;
}

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* scrollbar start */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}
* {
    scrollbar-color: #f2f2f2 var(--main-color);
    scrollbar-width: thin;
}
/* scrollbar end */


body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-body);
    font-weight: normal;
    background-color: #fafafa;
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
}
a, a:hover, a:focus{
    color: var(--main-color);
    outline: none;
    text-decoration: none;
}

input,textarea,button,select{
    font-family: inherit;
}

.pt_content_wrapper{
    margin: 70px auto;
}
@media (min-width: 1400px){
    .container {
        width: 1400px;
    }
}

.pt_container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

.d-none{ display: none; }
.d-flex{ display: flex; }
.align-items-center{ align-items: center; }
.justify-content-center{ justify-content: center; }
.justify-content-space-between{ justify-content: space-between; }

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }

.mb-10{margin-bottom: 10px;}.mb-20{margin-bottom: 20px;}.mb-30{margin-bottom: 30px;}.mb-40{margin-bottom: 40px;}.mb-50{margin-bottom: 50px;}.mb-60{margin-bottom: 60px;}.mb-70{margin-bottom: 70px;}
.mt-10{margin-top: 10px;}.mt-20{margin-top: 20px;}.mt-30{margin-top: 30px;}.mt-40{margin-top: 40px;}.mt-50{margin-top: 50px;}.mt-60{margin-top: 60px;}.mt-70{margin-top: 70px;}

/* preloader start */
.pt_preloader_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.pt_loading .pt_preloader_wrapper{
    opacity: 1;
    visibility: visible;
}
.pt_preloader_wrapper > .pt_preloader_inner{
    width: 38px;
    height: 38px;
    position: relative;
}
.pt_preloader_wrapper > .pt_preloader_inner > .pt_preloader_bg svg{
    width: 38px;
    height: 38px;
}
.pt_preloader_wrapper > .pt_preloader_inner > .pt_preloader_bg svg path{
    fill: var(--main-color);
}
.pt_preloader_wrapper > .pt_preloader_inner > .pt_preloader_dots{
    position: absolute;
    top: 0px;
    left: 7px;
}
.pt_preloader_wrapper > .pt_preloader_inner > .pt_preloader_dots > span{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ffffff;
    margin: 0 1px;
    -webkit-animation: preloader_dots_anim 0.6s infinite;
    -moz-animation: preloader_dots_anim 0.6s infinite;
    animation: preloader_dots_anim 0.6s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.pt_preloader_wrapper > .pt_preloader_inner > .pt_preloader_dots > span:nth-child(2){
    -webkit-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    animation-delay:0.2s;
}
.pt_preloader_wrapper > .pt_preloader_inner > .pt_preloader_dots > span:nth-child(3){
    -webkit-animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    animation-delay:0.4s;
}
@-webkit-keyframes preloader_dots_anim{
    0%{-webkit-transform: translateY(0px) scale(1.1); opacity: 1;}
    100%{-webkit-transform: translateY(5px) scale(0.7); opacity: 1;}
}
@-moz-keyframes preloader_dots_anim{
    0%{-moz-transform: translateY(0px) scale(1.1); opacity: 1;}
    100%{-moz-transform: translateY(5px) scale(0.7); opacity: 1;}
}
@keyframes preloader_dots_anim{
    0%{transform: translateY(0px) scale(1.1); opacity: 1;}
    100%{transform: translateY(5px) scale(0.7); opacity: 1;}
}
/* preloader end */

/********************************************************************************************* 
1. body end
*********************************************************************************************/

/********************************************************************************************* 
2. authentication start
*********************************************************************************************/
.pt_auth_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    overflow: auto;
    text-align: center;
    background-color: #ffffff;
    background-image: url('../images/auth_bg.jpg');
    background-size: cover;
}
.pt_auth_wrapper::before{
    content: "";
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.pt_auth_wrapper > .pt_auth_inner{
    width: 100%;
    max-width: 880px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    min-height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    margin-left: -1px;
    padding: 50px;
    border-radius: 25px;
    background-image: url('../images/circle.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 52%;
}
.pt_auth_wrapper > .pt_auth_inner > .pt_auth_body{
    flex: none;
    width: 100%;
    max-width: 290px;
    text-align: left;
}
.pt_auth_wrapper > .pt_auth_inner > .pt_auth_img{
    margin-right: 40px;
}
.pt_auth_wrapper > .pt_auth_inner > .pt_auth_img > img{
    max-width: 100%;
}
.pt_auth_chatbox{
    padding: 15px 20px 15px 20px;
    position: relative;
    margin-top: -1px;
    border: 1px solid #e5e7f7;
}
.pt_auth_chatbox.input{
    display: flex;
    align-items: center;
    background-color: #fafcff;
}
.pt_auth_body > h3{
    font-weight: 500;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.pt_auth_body > p{
    margin: 0;
    font-size: 15px;
    margin-bottom: 30px;
}
.pt_auth_chatbox .pt_input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-family: inherit;
    font-weight: 300;
    width: 100%;
}
.pt_auth_chatbox .pt_input::-webkit-input-placeholder{
    color: #a9a9a9;
}
.pt_auth_chatbox > .pt_icon{
    margin-right: 10px;
}
.pt_auth_chatbox > .pt_icon i{
    font-weight: 300;
}

.pt_forgot_remember{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/********************************************************************************************* 
2. authentication end
*********************************************************************************************/

/********************************************************************************************* 
3. header start
*********************************************************************************************/
.pt_header_wrapper{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    z-index: 999;
}
.pt_logo > a{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.pt_logo > a > .pt_logo_initial{
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-weight: 900;
    position: relative;
    z-index: 1;
}
.pt_logo > a > .pt_logo_initial > i{
    font-weight: 900;
    font-size: 30px;
    color: #ff4f5a;
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 0;
}
.pt_logo > a > .pt_logo_name{
    color: var(--color-heading);
    font-size: 14px;
    font-weight: 600;
}
.pt_logo img{
    max-width: 200px;
    vertical-align: middle;
}
.pt_header_inner{
    display: flex;
    align-items: center;
}
.pt_header_inner > .pt_logo{
    margin-right: 50px;
    margin-top: 5px;
}
.pt_nav{
    flex: 1;
}
.pt_nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pt_nav > ul > li{
    display: inline-flex;
    vertical-align: middle;
    margin-right: 25px;
}
.pt_nav > ul > li > a{
    display: block;
    padding: 30px 0;
    font-size: 13px;
    color: var(--color-heading);
    font-weight: 500;
}
.pt_nav > ul > li > a.active,
.pt_nav > ul > li > a:hover{
    color: var(--main-color);
    box-shadow: inset 0px -1px 0px var(--main-color);
}

.pt_avatar_wrapper{
    position: relative;
}
.pt_notification_wrapper{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.pt_notification_wrapper > .pt_notification_toggle{
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pt_notification_wrapper > .pt_notification_toggle > .pt_notification_count{
    position: absolute;
    top: -5px;
    left: 9px;
    color: #ffffff;
    background-color: var(--main-color);
    font-size: 10px;
    font-weight: 500;
    border-radius: 15px;
    min-width: 17px;
    text-align: center;
    padding: 1px 3px;
    font-family: sans-serif;
}
.pt_notification_wrapper .pt_dropdown_wrapper{
    min-width: 250px;
}
.pt_notification_wrapper .pt_dropdown_wrapper.pt_dropdown_right{
    right: -18px;
    margin-top: 10px;
}

.pt_nav_toggle{
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.pt_nf_list{
    max-height: 250px;
    overflow: auto;
    padding: 10px 0;
}
.pt_nf_list > .pt_nf_item{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}
.pt_nf_list > .pt_nf_item:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.pt_nf_list > .pt_nf_item > .pt_nf_icon{
    flex: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #fff3d0;
    color: #FF9800;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
}
.pt_nf_list > .pt_nf_item > .pt_nf_detail{
    flex: 1;
    padding-left: 10px;
}
.pt_nf_list > .pt_nf_item > .pt_nf_detail > h3{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}
.pt_nf_list > .pt_nf_item > .pt_nf_detail > h3 > span{
    margin: 0;
    font-size: 11px;
    display: block;
    color: var(--color-body);
    font-weight: 400;
    margin-bottom: 2px;
}
.pt_nf_list > .pt_nf_item > .pt_nf_detail > p{
    margin: 0;
    font-size: 11px;
    color: var(--main-color);
}
.pt_nf_list > .pt_nf_item.pt_nf_read{
    opacity: 0.6;
}
.pt_nf_list > .pt_nf_item.pt_nf_read > .pt_nf_icon{
    background-color: transparent;
    border-color: #e4e4e4;
    color: #c1c1c1;
}
.pt_nf_list > .pt_nf_item.pt_nf_new > .pt_nf_icon::before{
    content: "New";
    position: absolute;
    top: -5px;
    left: 8px;
    right: 8px;
    font-size: 10px;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
}
.pt_nf_list .no_notification{
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 13px;
}

.pt_avatar_wrapper > .pt_avatar_toggle{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.pt_avatar_wrapper > .pt_avatar_toggle > .pt_avatar_icon{
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
}
.pt_avatar_wrapper > .pt_avatar_toggle > .pt_avatar_icon > .pt_avatar_initials{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #ffffff;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
}
.pt_avatar_wrapper > .pt_avatar_toggle > .pt_avatar_icon > .pt_avatar_initials{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #ffffff;
    background-color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
.pt_avatar_wrapper > .pt_avatar_toggle > .pt_avatar_name{
    display: inline-flex;
    vertical-align: middle;
    font-size: 15px;
    color: var(--color-heading);
}
.pt_avatar_wrapper > .pt_avatar_toggle > .pt_avatar_name::after{
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    line-height: initial;
    margin-top: 4px;
    color: var(--color-body);
}
/********************************************************************************************* 
3. header end
*********************************************************************************************/

/********************************************************************************************* 
4. projects start
*********************************************************************************************/
.pt_project_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 50px;
}
.pt_project_list > .pt_project{
    flex: 0 0 200px;
    padding: 0 15px;
    margin-bottom: 30px;
}
.pt_project_list > .pt_project > .pt_project_inner{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #eaeaea;
}
.pt_project_list > .pt_project:hover > .pt_project_inner{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
}
.pt_project_inner > .pt_pro_icon{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 150, 243,0.07);
    border-radius: 10px 10px 0 0;
    position: relative;
}
.pt_project_inner > .pt_pro_icon > .pt_logo{
    opacity: 0.6;
}
.pt_project_inner > .pt_pro_icon > .pt_pro_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.pt_project:hover > .pt_project_inner > .pt_pro_icon > .pt_pro_overlay{
    opacity: 1;
    visibility: visible;
}
.pt_project_inner > .pt_pro_icon > .pt_pro_overlay > .pt_pro_favourite{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #ffffff;
}
.favourite > .pt_project_inner > .pt_pro_icon > .pt_pro_overlay > .pt_pro_favourite{
    color: #FFEB3B;
}
.favourite > .pt_project_inner > .pt_pro_icon > .pt_pro_overlay > .pt_pro_favourite > i{
    font-weight: 900;
}
.pt_project_inner > .pt_pro_icon > .pt_pro_overlay > .pt_pro_actions > a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 30px;
    background-color: #ffffff;
    color: var(--color-heading);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
}
.pt_project:hover > .pt_project_inner > .pt_pro_icon > .pt_pro_overlay > .pt_pro_actions > a{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.pt_project_inner > .pt_pro_icon > .pt_pro_overlay > .pt_pro_actions > a:nth-child(2){
    -webkit-transition-delay: 0.05s;
    -moz-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.pt_project_inner > .pt_pro_details{
    padding: 15px;
}
.pt_project_inner > .pt_pro_details > h3{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pt_project_inner > .pt_pro_details > h3 > .pt_pro_chat_count{
    background-color: var(--main-color);
    color: #ffffff;
    padding: 0px 6px;
    border-radius: 50px;
    min-width: 20px;
    height: 20px;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
/********************************************************************************************* 
4. projects end
*********************************************************************************************/

/********************************************************************************************* 
5. project settings start
*********************************************************************************************/
.pt_ps_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pt_ps_wrapper > .pt_ps_sidebar{
    flex: none;
    width: 260px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    position: sticky;
    top: 110px;
}
.pt_ps_wrapper > .pt_ps_content{
    flex: 1;
    padding-left: 30px;
}

.pt_ps_title{
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
}
.pt_ps_title > a{
    display: inline-block;
    margin-bottom: 10px;
}
.pt_ps_title > h3{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.pt_ps_sidebar_nav{
    padding: 20px;
}
.pt_ps_sidebar_nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pt_ps_sidebar_nav > ul > li{
    display: block;
}
.pt_ps_sidebar_nav > ul > li > a{
    display: block;
    padding: 10px 15px;
    color: #a2a2a2;
    position: relative;
}
.pt_ps_sidebar_nav > ul > li > a.active,
.pt_ps_sidebar_nav > ul > li > a:hover{
    color: var(--main-color);
}
.pt_ps_sidebar_nav > ul > li > a.active::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    bottom: 10px;
    width: 2px;
    background-color: var(--main-color);
}

.pt_script_box{
    text-align: center;
    max-width: 600px;
    margin: 70px auto;
    color: var(--color-heading);
}
/********************************************************************************************* 
5. project settings end
*********************************************************************************************/

/********************************************************************************************* 
6. create project start
*********************************************************************************************/
.pt_create_project{
    text-align: center;
    max-width: 600px;
    margin: 70px auto;
}
.pt_cp_header{
    margin-bottom: 30px;
}
.pt_cp_header > h3{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.pt_create_project .pt_input_wrapper{
    text-align: left;
    margin-bottom: 30px;
}
.pt_create_project .pt_input_wrapper > .pt_input{
    padding: 20px;
    border-radius: 6px;
}

.pt_cp_widget_type{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.pt_cp_widget_type > .pt_cpwt_item{
    flex: 1;
    max-width: 230px;
    margin: 0 5px;
}
.pt_cp_widget_type > .pt_cpwt_item > input{
    position: absolute; 
    left: -999999px;
    opacity: 0;
}
.pt_cp_widget_type > .pt_cpwt_item > label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: 230px;
    min-height: 200px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
}
.pt_cp_widget_type > .pt_cpwt_item > label > .pt_widget_type{
    background-color: #cecece;
    position: relative;
    margin-bottom: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.pt_cp_widget_type > .pt_cpwt_item > label > .pt_widget_type.bubble{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.pt_cp_widget_type > .pt_cpwt_item > label > .pt_widget_type.bubble::before{
    content: "";
    position: absolute;
    top: 60%;
    right: 75%;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid #cecece;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.pt_cp_widget_type > .pt_cpwt_item > label > p{
    margin: 0;
    font-size: 13px;
}
.pt_cp_widget_type > .pt_cpwt_item > label > .pt_widget_type.button{
    width: 190px;
    height: 50px;
    border-radius: 15px 15px 0 0;
}
.pt_cp_widget_type > .pt_cpwt_item > label > .pt_widget_type.button > svg{
    margin-right: 10px;
}

.pt_cp_widget_type > .pt_cpwt_item > input:checked ~ label{
    border-color: var(--main-color);
}
.pt_cp_widget_type > .pt_cpwt_item > input:checked ~ label > .pt_widget_type{
    background-color: var(--main-color);
}
.pt_cp_widget_type > .pt_cpwt_item > input:checked ~ label > .pt_widget_type.bubble::before{
    border-right-color: var(--main-color);
}
.pt_cp_widget_type > .pt_cpwt_item > input:checked ~ label > p{
    color: var(--color-heading);
}

/********************************************************************************************* 
6. create project end
*********************************************************************************************/

/********************************************************************************************* 
7. chat dashboard start
*********************************************************************************************/
.ptc_sidebar_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    z-index: 999;
}
.ptc_logo{
    text-align: center;
    padding: 25px 15px;
    border-bottom: 1px solid #eaeaea;
    flex: none;
}

/* chat sidebar start */
.ptc_sidebar_nav{
    flex: none;
}
.ptc_sidebar_nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
}
.ptc_sidebar_nav > ul > li{
    flex: 1;
}
.ptc_sidebar_nav > ul > li > a{
    text-align: center;
    display: block;
    padding: 15px;
    color: #888888;
    font-size: 13px;
    border-left: 1px solid #eaeaea;
}
.ptc_sidebar_nav > ul > li:first-child > a{
    border-left: none;
}
.ptc_sidebar_nav > ul > li > a.active{
    color: #ffffff;
    background-color: var(--main-color);
}

.ptc_search{
    margin: 15px;
    position: relative;
    margin-bottom: 0;
}
.ptc_search > .ptc_search_input{
    width: 100%;
    padding: 10px 15px;
    padding-right: 35px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    outline: none;
}
.ptc_search > .ptc_search_input:focus{
    border-color: var(--main-color);
}
.ptc_search > .ptc_search_input::-webkit-input-placeholder{
    color: var(--color-body);
}
.ptc_search > .ptc_search_icon{
    position: absolute;
    top: 14px;
    right: 12px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptc_chat_user_list{
    flex: 1;
    overflow: auto;
    padding: 15px;
}
.ptc_chat_user_list > .ptc_cu_item{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 3px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
    position: relative;
}
.ptc_chat_user_list > .ptc_cu_item:hover{
    background-color: #fbfbfb;
}
.ptc_chat_user_list > .ptc_cu_item.active{
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}
.ptc_chat_user_list > .ptc_cu_item:last-child{
    border-bottom: none;
}
.ptc_chat_user_list > .ptc_cu_item > .ptc_cu_avatar{
    flex: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #e4e4e4;
    color: var(--color-heading);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
}
.ptc_chat_user_list > .ptc_cu_item > .ptc_cu_avatar > .ptc_status{
    position: absolute;
    top: 2px;
    right: 0px;
}
.ptc_chat_user_list > .ptc_cu_item.active > .ptc_cu_avatar{
    background-color: #ffffff;
}
.ptc_chat_user_list > .ptc_cu_item > .ptc_cu_detail{
    flex: 1;
    padding-left: 10px;
}
.ptc_chat_user_list > .ptc_cu_item > .ptc_cu_detail > .ptc_cu_name{
    font-size: 14px;
    color: var(--color-heading);
}
.ptc_chat_user_list > .ptc_cu_item > .ptc_cu_detail > .ptc_cu_time{
    font-size: 12px;
}
.ptc_chat_user_list > .ptc_cu_item > .ptc_cu_detail > .ptc_cu_time > span{
    position: absolute;
    top: 24px;
    right: 10px;
    background-color: var(--main-color);
    padding: 1px 5px;
    height: 16px;
    min-width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 25px;
    font-size: 11px;
    font-weight: 600;
}
/* chat sidebar end */

.ptc_content_wrapper{
    margin-left: 300px;
}


/* message wrapper start */
.ptc_chatbox_wrapper{
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.ptc_chatbox_wrapper > .ptc_cb_header{
    min-height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    flex: none;
    padding: 15px;
}
.ptc_chatbox_wrapper > .ptc_cb_header > h3{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.ptc_chatbox_wrapper > .ptc_cb_header > p{
    margin: 0;
    font-size: 13px;
}
.ptc_chatbox_wrapper > .ptc_cb_header > .ptc_sidebar_toggle{
    position: absolute;
    top: 26px;
    right: 15px;
    font-size: 20px;
    width: 25px;
    height: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ptc_status{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #c1c1c1;
    vertical-align: middle;
}
.ptc_status.online{
    background-color: #66BB6A;
}
.ptc_status.offline{
    background-color: #c1c1c1;
}
.ptc_status.away{
    background-color: #FFC107;
}

.ptc_chatbox_wrapper > .ptc_cb_body{
    flex: 1;
    position: relative;
}
.ptc_cb_msg_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 30px;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 15px;
    -webkit-animation: ptcmsg_anim 0.3s;
    -moz-animation: ptcmsg_anim 0.3s;
    animation: ptcmsg_anim 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg > .ptc_cb_msg_inner{
    max-width: 60%;
    display: inline-block;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg > .ptc_cb_msg_inner > .ptc_cb_msg_text{
    background-color: #f1f1f1;
    color: #222222;
    padding: 12px 20px;
    border-radius: 0px 10px 10px 10px;
    font-size: 14px;
    margin: 0;
}
@-webkit-keyframes ptcmsg_anim{
    0%{-webkit-transform: translateY(10px); opacity: 0;}
    100%{-webkit-transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes ptcmsg_anim{
    0%{-moz-transform: translateY(10px); opacity: 0;}
    100%{-moz-transform: translateY(0px); opacity: 1;}
}
@keyframes ptcmsg_anim{
    0%{transform: translateY(10px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
.ptc_cb_msg_wrapper > .ptc_cb_msg > .ptc_cb_msg_inner > .ptc_cb_msg_time{
    font-size: 11px;
    margin: 0;
    margin-bottom: 2px;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg.ptc_right{
    text-align: right;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg.ptc_right > .ptc_cb_msg_inner > .ptc_cb_msg_text{
    background-color: var(--main-color);
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 10px 10px 0 10px;
    font-size: 14px;
    margin: 0;
    display: inline-block;
    text-align: left;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg > .ptc_cb_msg_inner > .ptc_cb_msg_text a{
    color: inherit;
    text-decoration: underline;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg.ptc_right > .ptc_cb_msg_inner > .ptc_cb_msg_text a{
    color: #ffffff;
    text-decoration: underline;
}
.ptc_cb_msg_wrapper > .ptc_cb_msg.ptc_right > .ptc_cb_msg_inner > .ptc_cb_msg_time{
    padding-right: 5px;
}
.ptc_chatbox_wrapper > .ptc_cb_footer{
    flex: none;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 60px);
    margin-bottom: 20px;
    border-radius: 10px;
}
.ptc_cb_textbox{
    position: relative;
}
.ptc_cb_textbox > .ptc_cb_tb{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 30px;
    height: 100px;
    font-size: 14px;
    background-color: transparent;
    resize: none;
}
.ptc_cb_textbox > .ptc_send_message_btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b1b1b1;
    padding-right: 3px;
    cursor: pointer;
}
.ptc_cb_textbox > .ptc_send_message_btn.active{
    background-color: var(--main-color);
    color: #ffffff;
}
/* message wrapper end */

/********************************************************************************************* 
7. chat dashboard end
*********************************************************************************************/

/********************************************************************************************* 
8. widget appearance start
*********************************************************************************************/
.pt_wa_wrapper{
    display: flex;
    align-items: flex-start;
}
.pt_wa_wrapper > .pt_wa_options{
    flex: 1;
}
.pt_wa_option_box_list{
    margin-bottom: 20px;
}
.pt_wa_option_box{
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
}
.pt_wa_option_box > h5{
    margin: 0;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}
.pt_wa_option_box:last-child{
    border-bottom: none;
}
.pt_wa_color_list > .pt_color{
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 20px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.pt_wa_color_list > .pt_color:hover{
    transform: scale(1.15);
}
.pt_wa_color_list > .pt_color.active{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 0px 2px #ffffff, 0px 0px 0px 3px #ff4f5a;
}
.pt_wa_color_list > .pt_color:nth-child(1){ background-color:#ff4f5a; }
.pt_wa_color_list > .pt_color:nth-child(2){background-color: #9C27B0;}
.pt_wa_color_list > .pt_color:nth-child(3){background-color: #673AB7;}
.pt_wa_color_list > .pt_color:nth-child(4){background-color: #3F51B5;}
.pt_wa_color_list > .pt_color:nth-child(5){background-color: #2196F3;}
.pt_wa_color_list > .pt_color:nth-child(6){background-color: #FF9800;}

.pt_wa_option_box .pt_cp_widget_type{
    justify-content: flex-start;
    margin-bottom: 15px;
}
.pt_wa_option_box .pt_cp_widget_type > .pt_cpwt_item{
    margin: 0;
    margin-right: 10px;
}

/* widget preview start */
.pt_wa_wrapper > .pt_wa_preview{
    flex: none;
    width: 340px;
    margin-left: 10px;
    min-height: 200px;
    padding: 0 20px;
}
.pt_wa_wrapper > .pt_wa_preview > h3{
    margin: 0;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}
.pt_wa_preview .ptw_widget_wrapper{
    position: relative;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
}
.pt_wa_preview .ptw_widget_wrapper > .ptw_widget_inner{
    display: flex;
    flex-direction: column-reverse;
}
.pt_wa_preview .ptw_chat_box_wrapper{
    position: relative;
    display: block;
    margin: 0 auto;
    bottom: auto !important;
    margin-bottom: 15px;
}
.pt_wa_preview .ptw_chat_box_wrapper > .ptw_chat_box_inner{
    box-shadow: none;
}
.pt_wa_preview .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_chat_box{
    display: flex;
}
.pt_wa_preview .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_offline_box, 
.pt_wa_preview .ptw_chat_box_wrapper > .ptw_chat_box_inner > .ptw_login_box{
    border-bottom: 5px solid #f5f5f5;
}
.pt_wa_preview .ptw_widget_wrapper.ptw_widget_right > .ptw_widget_inner{
    align-items: flex-end;
}
/* widget preview end */
/********************************************************************************************* 
8. widget appearance end
*********************************************************************************************/

/********************************************************************************************* 
9. project settings start
*********************************************************************************************/
.pt_ps_setting_box{
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
}
.pt_ps_setting_box > h5{
    margin: 0;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}
.pt_ps_setting_box > h5 .tooltip-inner{
    min-width: 150px;
}

.pt_remove_project{
    background-color: #fff1f0;
    border: 1px solid #ffcfd2;
}
.pt_remove_project > p{
    margin: 0;
    color: var(--color-heading);
    margin-bottom: 20px;
    font-size: 13px;
}
/********************************************************************************************* 
9. project settings end
*********************************************************************************************/

/********************************************************************************************* 
10. dashboard start
*********************************************************************************************/
.pt_dashboard_wrapper{
    display: flex;
    align-items: flex-start;
}
.pt_dashboard_wrapper .pt_dashboard_box{
    flex: 1;
}
.pt_dashboard_box_list{
    max-width: 320px;
    flex: 0;
    margin-right: 30px;
}
.pt_dashboard_box_list > .pt_dashboard_box{
    width: 320px;
    text-align: center;
}
.pt_dashboard_box_list > .pt_dashboard_box > .pt_dashboard_box_inner{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pt_dashboard_box{
    margin-bottom: 30px;
}
.pt_dashboard_box > .pt_dashboard_box_inner{
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}
.pt_dashboard_box > .pt_dashboard_box_inner > h3{
    margin: 0;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 900;
    color: var(--main-color);
}
.pt_dashboard_box > .pt_dashboard_box_inner > p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-body);
}
.pt_dashboard_box > .pt_dashboard_box_inner > p > span{
    font-weight: 600;
    color: var(--color-heading);
}
.pt_dashboard_box > .pt_dashboard_box_inner > .pt_dash_box_title{
    color: var(--color-heading);
    margin-bottom: 30px;
    font-weight: 500;
}
/********************************************************************************************* 
10. dashboard end
*********************************************************************************************/

.pt_profile_wrapper{
    max-width: 650px;
}



/********************************************************************************************* 
51. components start
*********************************************************************************************/
/* button start */
.pt_btn{
    background-color: var(--main-color);
    padding: 0px 25px;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0px 10px 20px -10px var(--main-color);
    white-space: nowrap;
}
.pt_btn:hover,.pt_btn:focus,.pt_btn:active{
    color: #ffffff;
}
.pt_btn:active{
    box-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.pt_btn_block{
    display: flex;
    width: 100%;
}
.pt_btn_dark{
    background-color: #1b2e35;
    box-shadow: 0px 10px 20px -10px #1b2e35;
}
.pt_btn > i{
    margin: 0 5px;
}
.pt_btn.pt_btn_xl{
    padding: 0px 30px;
    height: 50px;
    font-size: 14px;
    min-width: 150px;
}
/* button end */

/* input start */
.pt_input_wrapper_list{
    display: flex;
    margin: 0 -10px;
}
.pt_input_wrapper_list > .pt_input_wrapper{
    flex: 1;
    padding: 0 10px;
}
.pt_input_wrapper{
    margin-bottom: 20px;
    position: relative;
}
.pt_input_wrapper > label{
    margin-bottom: 5px;
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: var(--color-heading);
}
.pt_input_wrapper > .pt_input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}
.pt_input_wrapper > .pt_input:focus{
    border-color: var(--main-color);
}
.pt_input_wrapper > textarea.pt_input{
    resize: vertical;
}
.pt_input_wrapper.pt_input_icon>.input_icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 13px;
    color: #8c8c8c;
    pointer-events: none;
    display: inline-flex;
}
.pt_input_wrapper.pt_input_icon > .pt_input{
    padding-right: 35px;
}
.pt_date_pick > .pt_input,
.pt_date_pick{
    cursor: pointer;
}
/* input end */

/* search box start */
.pt_search_box{
    width: 100%;
    max-width: 300px;
    position: relative;
    margin-right: 10px;
}
.pt_search_box > input{
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 40px;
    padding: 0 15px;
    padding-right: 40px;
    border-radius: 3px;
    font-family: inherit;
    outline: none;
}
.pt_search_box > input::-webkit-input-placeholder{
    color: #b4b4b4;
}
.pt_search_box > input:focus{
    border-color: var(--main-color);
}
.pt_search_box > .pt_search_icon{
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 12px;
}
/* search box end */

/* divider start */
.pt_divider_with_text{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.pt_divider_with_text > .pt_dt_title{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #929292;
    letter-spacing: 0.08em;
    flex: none;
    margin-right: 15px;
}
.pt_divider_with_text > .pt_dt_line{
    flex: 1;
    height: 1px;
    background-color: #e0e0e0;
}
/* divider end */

/* dropdown start */
.pt_dropdown{
    position: relative;
}
.pt_dropdown_wrapper{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding-top: 10px;
    min-width: 150px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: translateY(-10px) rotateX(30deg);
    -moz-transform: translateY(-10px) rotateX(30deg);
    transform: translateY(-10px) rotateX(30deg);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}
.open > .pt_dropdown_wrapper{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px) rotateX(0deg);
    -moz-transform: translateY(0px) rotateX(0deg);
    transform: translateY(0px) rotateX(0deg);
}
.pt_dropdown_wrapper > .pt_dropdown_inner{
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 10px;
}
.pt_dropdown_wrapper > .pt_dropdown_inner::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 20px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: -8px -8px 20px -3px rgba(0, 0, 0, 0.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pt_dropdown_wrapper > .pt_dropdown_inner > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.pt_dropdown_wrapper > .pt_dropdown_inner > ul > li{
    display: block;
}
.pt_dropdown_wrapper > .pt_dropdown_inner > ul > li > a{
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    color: var(--color-body);
    cursor: pointer;
}
.pt_dropdown_wrapper > .pt_dropdown_inner > ul > li > a:hover{
    color: var(--main-color);
}

.pt_dropdown_wrapper.pt_dropdown_right{
    left: auto;
    right: 0;
}
.pt_dropdown_wrapper.pt_dropdown_right > .pt_dropdown_inner::before{
    left: auto;
    right: 20px;
}
/* dropdown end */

/* datatable start */
.pt_datatable_wrapper table{
    width: 100% !important;
    border-bottom: none !important;
    border-spacing: 0 1px;
    background-color: #fff;
    border-radius: 5px;
}
.pt_datatable_wrapper table > thead{
    box-shadow: inset 0px -1px 0px #f5f5f5;
}
.pt_datatable_wrapper table > thead > tr > th,
.pt_datatable_wrapper table > thead > tr > td{
    color: var(--color-heading);
    border-bottom: none;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 500;
    background-image: none !important;
}
.pt_datatable_wrapper table > tbody > tr{
    box-shadow: inset 0px -1px 0px #f6f6f6;
}
.pt_datatable_wrapper table > tbody > tr > th, 
.pt_datatable_wrapper table > tbody > tr > td{
    padding: 20px 18px;
    background-color: transparent;
    font-size: 13px;
}

.pt_datatable_wrapper .dataTables_length,
.pt_datatable_wrapper .dataTables_filter{
    margin-bottom: 15px;
}
.pt_datatable_wrapper select,
.pt_datatable_wrapper input{
    height: 28px;
    border: 1px solid #dadada;
    border-radius: 3px;
    outline: none;
    padding: 0 5px;
}
.pt_datatable_wrapper select:focus,
.pt_datatable_wrapper input:focus{
    border-color: var(--main-color);
}
.pt_datatable_wrapper .dataTables_wrapper .dataTables_length, 
.pt_datatable_wrapper .dataTables_wrapper .dataTables_filter, 
.pt_datatable_wrapper .dataTables_wrapper .dataTables_info, 
.pt_datatable_wrapper .dataTables_wrapper .dataTables_processing, 
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate{
    color: var(--color-body);
    font-size: 13px;
}
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate{
    margin-top: 10px;
    padding: 0;
}
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate .paginate_button{
    height: 24px;
    min-width: 24px;
    padding: 2px 8px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer !important;
    box-shadow: none;
    font-family: inherit;
}
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none;
    color: var(--main-color) !important;
    border-color: var(--main-color);
}
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: none;
    background-color: var(--main-color);
    color: #ffffff !important;
    border-color: var(--main-color);
}
.pt_datatable_wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    opacity: 0.8;
    pointer-events: none;
}

.pt_table_action > .pt_tb_btn{
    display: inline-flex;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    color: var(--color-body);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pt_table_action > .pt_tb_btn:hover{
    color: var(--main-color);
}
.pt_datatable_wrapper .tb_action{
    width: 100px;
    text-align: center;
}
/* datatable end */
/* step start */
.pt_step_wrapper{
    display: none;
}
.pt_step_wrapper.active{
    display: block;
}
/* step end */

/* radio start */
.pt_radio_list > .pt_radio{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.pt_radio_list > .pt_radio:last-child{
    margin-right: 0;
}
.pt_radio > input{
    position: absolute;
    left: -99999px;
    opacity: 0;
}
.pt_radio > label{
    cursor: pointer;
    position: relative;
}
.pt_radio > label::before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #c1c1c1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.pt_radio > label::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--main-color);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.pt_radio > input:checked ~ label{
    color: var(--color-heading);
}
.pt_radio > input:checked ~ label::after{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
/* radio end */

/* page title start */
.pt_page_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.pt_page_title > h3{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.pt_page_title .pt_input_wrapper{
    margin-bottom: 10px;
}
.pt_page_title .pt_input_wrapper:first-child{
    margin-right: 10px;
}
/* page title end */
/* tooltip start */
.pt_info_tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    line-break: auto;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 12px;
    filter: alpha(opacity=0);
    opacity: 0;
}
.tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
    top: -8px !important;
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #222222;
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #222222;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #222222;
}
.tooltip.right .tooltip-arrow {
    top: 16px !important;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #222222;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #222222;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #222222;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #222222;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #222222;
}
.tooltip-inner {
    max-width: 156px;
    background-color: #222222;
    color: #ffffff;
    padding: 12px 15px;
    border-radius: 3px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.08);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip_title {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.tooltip_trafficcampname .tooltip-inner {
    min-width: 156px;
}
.tooltip_path .tooltip-inner {
    min-width: 254px;
}
.pt_input_wrapper .tooltip-inner {
    min-width: 160px;
}
/* tooltip end */

/* datepicker start */
.bootstrap-datetimepicker-widget{
    position: absolute;
    top: 100%;
    left: 0;
    width: auto !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu::before,
.bootstrap-datetimepicker-widget.dropdown-menu::after{
    opacity: 0 !important;
}
.bootstrap-datetimepicker-widget > ul{
    list-style: none;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 15px;
}
.datepicker tr th{
    font-weight: 500;
    color: var(--color-heading);
    font-size: 13px;
    padding: 8px 10px;
}
.datepicker tr th > .glyphicon::before{
    content: "\f060";
    font-family: "Font Awesome 5 Pro";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.datepicker tr th.next > .glyphicon::before{
    content: "\f061";
}
.bootstrap-datetimepicker-widget table th.picker-switch{
    border: 1px solid #eaeaea;
}
.datepicker tr td.day{
    color: var(--color-body);
    font-family: monospace;
    padding: 5px 10px;
}
.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active, 
.bootstrap-datetimepicker-widget table td.active:hover{
    background-color: var(--main-color);
    color: #ffffff;
    text-shadow: none;
}
/* datepicker end */

/* switch start */
.pt_switch{
    display: inline-flex;
    margin-bottom: 10px;
}
.pt_switch > input {
    position: absolute;
    left: -9999999px;
    opacity: 0;
}
.pt_switch > label {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 15px;
}
.pt_switch > label::before {
    content: "";
    width: 26px;
    height: 6px;
    border-radius: 10px;
    background-color: #d2d2d2;
}
.pt_switch > label::after {
    content: "";
    position: absolute;
    top: 1.3px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 15px;
    background-color: #888888;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.pt_switch > input:checked ~ label::before {
    background-color: #e5eeff;
}
.pt_switch > input:checked ~ label::after {
    left: 13px;
    background-color: var(--main-color);
}
.pt_switch > label > span {
    margin-left: 7px;
}
/* switch end */

/* alert start */
.pt_alert_wrapper {
    position: fixed;
    top: 38px;
    right: 44px;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
}
.pt_alert_wrapper.alert_open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.pt_alert_wrapper>.pt_alert_inner {
    border: 1px solid;
    color: #888888;
    background-color: #ffffff;
    box-shadow: 0px 8px 10px rgba(191, 196, 196, 0.50);
    padding: 15px 24px 15px 18px;
    border-radius: 5px;
}
.pt_alert_wrapper>.pt_alert_inner>i {
    margin-right: 6px;
}
.pt_alert_wrapper>.pt_alert_close {
    position: absolute;
    top: 5px;
    right: -20px;
    color: #dedddd;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.pt_alert_wrapper>.pt_alert_close:hover {
    color: #969696;
}
.pt_alert_wrapper.success>.pt_alert_inner {
    border-color: #11c137;
    background-color: #eefff2;
}
.pt_alert_wrapper.success>.pt_alert_inner>i {
    color: #11c137;
}
.pt_alert_wrapper.error>.pt_alert_inner {
    border-color: #f75454;
    background-color: #fff2f2;
}
.pt_alert_wrapper.error>.pt_alert_inner>i {
    color: #f75454;
}
.pt_alert_wrapper.error>.pt_alert_inner>i::before {
    content: "\f071";
}
.pt_alert_wrapper.info>.pt_alert_inner {
    border-color: #FFC107;
    background-color: #fff9e9;
}
.pt_alert_wrapper.info>.pt_alert_inner>i {
    color: #FFC107;
}
.pt_alert_wrapper.info>.pt_alert_inner>i::before {
    content: "\f05a";
}
/* alert end */

/* popup start */
.pt_popup_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: auto;
    padding: 15px !important;
    padding-top: 80px !important;
    background-color: rgba(247, 247, 247, 0.83);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.pt_popup_wrapper.in {
    opacity: 1;
    visibility: visible;
}
.pt_popup_wrapper>.pt_popup_inner {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 40px;
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
}
.pt_popup_wrapper.in>.pt_popup_inner {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.pt_popup_wrapper .pt_popup_title {
    color: var(--color-heading);
    font-size: 16px;
    margin-bottom: 30px;
}
.pt_popup_wrapper .pt_popup_close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 16px;
    color: #d4d4d4;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.pt_popup_wrapper .pt_popup_close:hover {
    color: #969696;
}
/* popup end */

/* date picker start */
.daterangepicker {
    font-family: inherit;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 5px;
}
.daterangepicker:before {
    border-bottom: 7px solid transparent;
}
.daterangepicker .drp-buttons {
    border-top-color: #ebedf8;
}
.daterangepicker .drp-buttons .btn {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    line-height: initial;
}
.daterangepicker .calendar-table th {
    font-weight: 500;
}
.daterangepicker .calendar-table td {
    color: #8c8c8c;
}
.daterangepicker .calendar-table td.active {
    color: #ffffff;
}
.daterangepicker .drp-buttons .btn.btn-default {
    background-color: transparent;
    color: #0055ff;
    box-shadow: 0px 0px 0px 1px #d4d4d4;
}
.daterangepicker td.in-range {
    background-color: #f3f7fb;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: var(--main-color);
}
.daterangepicker .ranges li.active{
    background-color: var(--main-color);
}
/* date picker end */

/* checkbox start */
.pt_checkbox > input{
    position: absolute;
    left: -99999px;
    opacity: 0;
}
.pt_checkbox > label{
    cursor: pointer;
    position: relative;
}
.pt_checkbox > label::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    margin-right: 6px;
}
.pt_checkbox > label::after{
    content: "";
    display: block;
    position: absolute;
    top: 7.5px;
    left: 3px;
    width: 9px;
    height: 5px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-radius: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.pt_checkbox > input:checked ~ label::before{
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
}
.pt_checkbox > input:checked ~ label::after{
    opacity: 1;
    visibility: visible;
}
/* checkbox end */
/********************************************************************************************* 
51. components end
*********************************************************************************************/

/********************************************************************************************* 
52. responsive start
*********************************************************************************************/
@media (max-width: 880px){
    .pt_auth_wrapper{
        padding-top: 10%;
    }
    .pt_auth_wrapper::before{
        display: none;
    }
}
@media (max-width: 768px){
    .pt_auth_wrapper > .pt_auth_inner{
        flex-direction: column;
        padding: 30px;
    }
    .pt_auth_wrapper > .pt_auth_inner > .pt_auth_img{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .pt_dashboard_wrapper{
        display: block;
    }
    .pt_dashboard_box_list{
        display: flex;
        max-width: inherit;
        width: inherit;
        margin: 0 -15px;
    }
    .pt_dashboard_box_list > .pt_dashboard_box{
        width: 100%;
        padding: 0 15px;
    }
    .pt_header_wrapper{
        padding: 10px 0;
    }
    .pt_nav_toggle{
        display: flex;
    }
    .pt_nav > ul{
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 20px 30px;
        border-top: 1px solid #f1f1f1;
        box-shadow: 0px 40px 40px -30px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .pt_header_inner.open > .pt_nav > ul{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
    .pt_nav > ul > li{
        display: flex;
        margin: 0;
        margin-bottom: 20px;
    }
    .pt_nav > ul > li:last-child{
        margin-bottom: 0px;
    }
    .pt_nav > ul > li > a{
        padding: 0;
        padding-left: 10px;
    }
    .pt_nav > ul > li > a.active, .pt_nav > ul > li > a:hover{
        box-shadow: inset 2px 0px 0px var(--main-color);
    }
    .pt_content_wrapper {
        margin: 40px auto;
    }
    .pt_container{
        padding: 0 30px;
    }
    .pt_datatable_wrapper table{
        display: block;
        overflow: auto;
    }
    .pt_ps_wrapper{
        flex-direction: column;
    }
    .pt_ps_wrapper > .pt_ps_sidebar{
        position: relative;
        top: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .pt_ps_wrapper > .pt_ps_content{
        padding: 0;
        width: 100%;
    }
    .pt_wa_wrapper{
        flex-direction: column;
    }
    .pt_wa_wrapper > .pt_wa_options{
        width: 100%;
        margin-bottom: 20px;
    }
    .pt_wa_wrapper > .pt_wa_preview > h3{
        text-align: center;
    }

    .ptc_sidebar_wrapper{
        left: -300px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .ptc_sidebar_open .ptc_sidebar_wrapper{
        left: 0;
    }
    .ptc_chatbox_wrapper > .ptc_cb_header > .ptc_sidebar_toggle{
        display: flex;
    }
    .ptc_content_wrapper{
        margin-left: 0;
    }
    .ptc_chatbox_wrapper{
        left: 0;
    }
}
@media (max-width: 480px){
    .pt_nav_toggle,
    .pt_notification_wrapper{
        margin-right: 12px;
    }
    .pt_notification_wrapper .pt_dropdown_wrapper.pt_dropdown_right{
        right: -140px;
    }
    .pt_notification_wrapper .pt_dropdown_wrapper.pt_dropdown_right > .pt_dropdown_inner::before{
        right: 140px;
    }
}
/********************************************************************************************* 
52. responsive end
*********************************************************************************************/

